twisted
txpostgres
psycopg2

# This will need openssl installed.
# For Py2.7 on windows use 1.0.2n: http://slproweb.com/products/Win32OpenSSL.html
# (both openssl.exe and ssleay.dll will need to be in the path)
pyOpenSSL

service_identity
astral==1.3

# optional - only used if RabbitMQ is configured:
pika
