<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Images</title>
</head>
<body>
<h1>Images for {{ source_name }} on {{ date }}</h1>
<hr>
<p>The following images are available for {{ source_name }} on {{ date }}:</p>

<table border="2">
    <tr bgcolor="lightseagreen">
        <td><b>Timestamp</b></td>
        <td><b>MIME Type</b></td>
        <td><b>Type</b></td>
        <td><b>Title</b></td>
        <td><b>Description</b></td>
        <td><b>Links</b></td>
    </tr>

    {% for image in image_list %}
    <tr bgcolor="blanchedalmond">
        <td>{{ image.time_stamp }}</td>
        <td>{{ image.mime_type }}</td>
        <td>{{ image.type_name }}</td>
        <td>{{ image.title }}</td>
        <td>{{ image.description }}</td>
        <td>
            <a href="{{ image.time_stamp.time().strftime("%H_%M_%S") }}/{{ image.type_code|lower }}_full{{ extensions[image.mime_type] }}">Full size</a>

            {% if image.mime_type.startswith("image/") %}
            <a href="{{ image.time_stamp.time().strftime("%H_%M_%S") }}/{{ image.type_code|lower }}_thumbnail{{ extensions[image.mime_type] }}">Thumbnail</a>
            {% endif %}

            <a href="{{ image.time_stamp.time().strftime("%H_%M_%S") }}/{{ image.type_code|lower }}_description{{ extensions[image.mime_type] }}">Description</a>
            {% if image.has_metadata %}
                <a href="{{ image.time_stamp.time().strftime("%H_%M_%S") }}/{{ image.type_code|lower }}_metadata.json">Metadata</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<p>This table is also available in <a href="index.json">JSON format</a></p>

<hr>
<center><a href="../../">Up to datasets for {{ date }}</a></center>
</body>
</html>