<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Monthly Data</title>
</head>
<body>
<h1>Monthly Data</h1>
<hr>
<p>The following datasets are available for each month:</p>

<table border="2">
    <tr bgcolor="lightseagreen">
        <td><b>Format</b></td>
        <td><b>Link</b></td>
        <td><b>Description</b></td>
    </tr>

    <tr bgcolor="blanchedalmond">
        <td>JSON</td>
        <td><a href="samples.json">samples.json</a></td>
        <td>
            All outdoor samples for the month. Note that this will be fairly
            large (~1MB).
        </td>
    </tr>
    <tr bgcolor="blanchedalmond">
        <td>Tab delimited text</td>
        <td><a href="samples.dat">samples.dat</a></td>
        <td>
            All samples for the month.
        </td>
    </tr>
    <tr bgcolor="blanchedalmond">
        <td>JSON</td>
        <td><a href="30m_avg_samples.json">30m_avg_samples.json</a></td>
        <td>
            Averaged samples every 30 minutes for the entire month of outdoor
            weather.
        </td>
    </tr>
    <tr bgcolor="blanchedalmond">
        <td>JSON</td>
        <td><a href="daily_records.json">daily_records.json</a></td>
        <td>
            Minimum and Maximum temperature, humidity and
            pressure for each day of the month.
        </td>
    </tr>

    <tr bgcolor="blanchedalmond">
        <td>Google DataTable JSON</td>
        <td><a href="datatable/samples.json">datatable/samples.json</a></td>
        <td>
            All outdoor samples for the month. Note that this will be fairly
            large (~1MB).
        </td>
    </tr>
    <tr bgcolor="blanchedalmond">
        <td>Google DataTable JSON</td>
        <td><a href="datatable/30m_avg_samples.json">datatable/30m_avg_samples.json</a></td>
        <td>
            Averaged samples every 30 minutes for the entire month of outdoor
            weather.
        </td>
    </tr>
    <tr bgcolor="blanchedalmond">
        <td>Google DataTable JSON</td>
        <td><a href="datatable/daily_records.json">datatable/daily_records.json</a></td>
        <td>
            Minimum and Maximum temperature, humidity and
            pressure for each day of the month.
        </td>
    </tr>
</table>

<h2>Days</h2>
<p>Data is available for the following days:<br>
    {% set i = 0 %}
    {% for day in days %}
        {% set i = i + 1 %}
        <a href="{{ day }}/">{{ day }}</a> {% if i < days|length %}|{% endif %}
    {% endfor %}
</p>

<hr>
<center><a href="../">Up to Yearly data sets</a></center>
</body>
</html>