<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Station Data</title>
    </head>
    <body>
        <h1>Station Data</h1>
        <hr>
        <p>The following datasets are available at the station level:</p>

        <table border="2">
            <tr bgcolor="lightseagreen">
                <td><b>Format</b></td>
                <td><b>Link</b></td>
                <td><b>Description</b></td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="live.json">live.json</a></td>
                <td>
                    Current live record. Updated every 48 or 300 seconds.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="samplerange.json">samplerange.json</a></td>
                <td>
                    Timestamps for the oldest and latest samples in the database.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="image_sources.json">image_sources.json</a></td>
                <td>
                    Information for all image sources associated with this station
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="about.json">about.json</a></td>
                <td>
                    Data for about page (navigation links, available stations,
                    station and site name, etc). Also available at the same
                    level as about.html.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="current_day_records.json">current_day_records.json</a></td>
                <td>
                    Records for the current day.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="current_day_rainfall_totals.json">current_day_rainfall_totals.json</a></td>
                <td>
                    Rainfall totals for the current day and past seven days.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="24hr_rainfall_totals.json">24hr_rainfall_totals.json</a></td>
                <td>
                    Rainfall totals for the last 24 and 168 hours (one day and seven days back from the current time).
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="current_day_samples.json">current_day_samples.json</a></td>
                <td>
                    Samples for the current day.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="24hr_samples.json">24hr_samples.json</a></td>
                <td>
                    Samples for the last 24 hours.
                </td>
            </tr>
            {% if reception_available %}
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="24hr_reception.json">24hr_reception.json</a></td>
                <td>
                    Station reception over last 24 hours
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="168hr_reception.json">168hr_reception.json</a></td>
                <td>
                    Station reception over last 168 hours (7 days)
                </td>
            </tr>
            {% endif %}
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="current_day_7day_30m_avg_samples.json">current_day_7day_30m_avg_samples.json</a></td>
                <td>
                    30-minute averaged samples for the past seven days.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="168hr_30m_avg_samples.json">168hr_30m_avg_samples.json</a></td>
                <td>
                    30-minute averaged samples for the past 168 hours (like the 7-day data source but from the current time except current day).
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="current_day_rainfall.json">current_day_rainfall.json</a></td>
                <td>
                    Rainfall for the current day.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="24hr_rainfall.json">24hr_rainfall.json</a></td>
                <td>
                    Rainfall for the past 24 hours.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="24hr_hourly_rainfall.json">24hr_hourly_rainfall.json</a></td>
                <td>
                    Rainfall for the past 24 hours grouped hourly.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="current_day_7day_rainfall.json">current_day_7day_rainfall.json</a></td>
                <td>
                    Rainfall for the past seven days.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>JSON</td>
                <td><a href="168hr_rainfall.json">168hr_rainfall.json</a></td>
                <td>
                    Rainfall for the past 168 hours.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/current_day_samples.json">datatable/current_day_samples.json</a></td>
                <td>
                    Samples for the current day.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/24hr_samples.json">datatable/24hr_samples.json</a></td>
                <td>
                    Samples for the last 24 hours.
                </td>
            </tr>
            {% if reception_available %}
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/24hr_reception.json">datatable/24hr_reception.json</a></td>
                <td>
                    Station reception over last 24 hours
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/168hr_reception.json">datatable/168hr_reception.json</a></td>
                <td>
                    Station reception over last 168 hours (7 days)
                </td>
            </tr>
            {% endif %}
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/current_day_7day_30m_avg_samples.json">datatable/current_day_7day_30m_avg_samples.json</a></td>
                <td>
                    30-minute averaged samples for the past seven days.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/168hr_30m_avg_samples.json">168hr_30m_avg_samples.json</a></td>
                <td>
                    30-minute averaged samples for the past 168 hours (like the 7-day data source but from the current time except current day).
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/current_day_rainfall.json">datatable/current_day_rainfall.json</a></td>
                <td>
                    Rainfall for the current day.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/24hr_hourly_rainfall.json">datatable/24hr_hourly_rainfall.json</a></td>
                <td>
                    Rainfall for the past 24 hours.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/current_day_7day_rainfall.json">datatable/current_day_7day_rainfall.json</a></td>
                <td>
                    Rainfall for the past seven days.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Google DataTable JSON</td>
                <td><a href="datatable/168hr_rainfall.json">datatable/168hr_rainfall.json</a></td>
                <td>
                    Rainfall for the past 168 hours.
                </td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Cumulus realtime.txt</td>
                <td><a href="realtime.txt">realtime.txt</a></td>
                <td>Contains current conditions plus a mix of other data including some of the days records. See <a href="http://wiki.sandaysoft.com/a/Realtime.txt">http://wiki.sandaysoft.com/a/Realtime.txt</a> for a description.</td>
            </tr>
            <tr bgcolor="blanchedalmond">
                <td>Cumulus dayfile.txt</td>
                <td><a href="dayfile.txt">dayfile.txt</a></td>
                <td>Station records per day, rainfall and ET totals and a few other things. See <a href="http://wiki.sandaysoft.com/a/Dayfile.txt">http://wiki.sandaysoft.com/a/Dayfile.txt</a> for a description.</td>
            </tr>
        </table>

        <h2>Years</h2>
        <p>Data is available for the following years:<br>
            {% set i = 0 %}
            {% for year in years %}
                {% set i = i + 1 %}
                <a href="{{ year }}/">{{ year }}</a> {% if i < years|length %}|{% endif %}
            {% endfor %}
        </p>

        {% if image_sources %}
        <h1>Image Sources</h1>
        <p>
            The following image sources are present for this station. To see
            images for a particular date, browse to that date above.
        </p>

        <table border="2">
            <tr bgcolor="lightseagreen">
                <td><b>Code</b></td>
                <td><b>Name</b></td>
            </tr>
            {%  for source in image_sources %}
                <tr bgcolor="blanchedalmond">
                <td><a href="images/{{ source.code.lower() }}/">{{ source.code.lower() }}</a></td>
                <td>{{ source.source_name }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        <hr>
        <center><a href="../">Up to data index</a></center>
    </body>
</html>