{# This template is for a daily overview. #}

{% extends "base.html" %}
{% block title %}Weather for {{ data.date_stamp }}{% endblock %}
{% block content %}

    <h1>Weather for {{ data.date_stamp }}</h1>
    <hr>

    {#  This is only shown when we are looking at todays weather. #}
    {% if data.current_data %}
    <h2>Conditions as of {{ data.current_data_ts }}</h2>
    <p>Data is for the five minute period ending at {{ data.current_data_ts }}</p>
    <table border=2>
        <tr bgcolor="lightseagreen">
            <td><b>Sensor</b></td>
            <td><b>Value</b></td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Relative Humidity</td>
            <td>{{ data.current_data.relative_humidity }}%</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Temperature</td>
            <td>{{ data.current_data.temperature|round(1) }}°C</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Apparent Temperature</td>
            <td>{{ data.current_data.apparent_temperature|round(1) }}°C</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Wind Chill</td>
            <td>{{ data.current_data.wind_chill|round(1) }}°C</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Dew Point</td>
            <td>{{ data.current_data.dew_point|round(1) }}°C</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Absolute Pressure</td>
            <td>{{ data.current_data.absolute_pressure|round(1) }} Hpa</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Average Wind Speed</td>
            <td>{{ data.current_data.average_wind_speed|round(1) }} m/s</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Gust Wind Speed</td>
            <td>{{ data.current_data.gust_wind_speed|round(1) }} m/s</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Wind Direction</td>
            <td>{{ data.current_data.wind_direction }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Rainfall</td>
            <td>{{ data.current_data.rainfall|round(1) }} mm</td>
        </tr>
    </table>
    {% endif %}

    <h2>Records</h2>
    <table border=2>
        <tr bgcolor="lightseagreen">
            <td><b>Sensor</b></td>
            <td><b>Min</b></td>
            <td><b>Max</b></td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Temperature</td>
            <td>{{ data.records.min_temperature|round(1) }}°C at {{ data.records.min_temperature_ts }}</td>
            <td>{{ data.records.max_temperature|round(1) }}°C at {{ data.records.max_temperature_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Wind Chill</td>
            <td>{{ data.records.min_wind_chill|round(1) }}°C at {{ data.records.min_wind_chill_ts }}</td>
            <td>{{ data.records.max_wind_chill|round(1) }}°C at {{ data.records.max_wind_chill_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Apparent Temperature</td>
            <td>{{ data.records.min_apparent_temperature|round(1) }}°C at {{ data.records.min_apparent_temperature_ts }}</td>
            <td>{{ data.records.max_apparent_temperature|round(1) }}°C at {{ data.records.max_apparent_temperature_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Dew Point</td>
            <td>{{ data.records.min_dew_point|round(1) }}°C at {{ data.records.min_dew_point_ts }}</td>
            <td>{{ data.records.max_dew_point|round(1) }}°C at {{ data.records.max_dew_point_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Absolute Pressure</td>
            <td>{{ data.records.min_absolute_pressure|round(1) }} Hpa at {{ data.records.min_absolute_pressure_ts }}</td>
            <td>{{ data.records.max_absolute_pressure|round(1) }} Hpa at {{ data.records.max_absolute_pressure_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Relative Humidity</td>
            <td>{{ data.records.min_humidity }}% at {{ data.records.min_humidity_ts }}</td>
            <td>{{ data.records.max_humidity }}% at {{ data.records.max_humidity_ts }}</td>
        </tr>
        <tr>
            <td bgcolor="blanchedalmond">Gust Wind Speed</td>
            <td></td>
            <td bgcolor="blanchedalmond">{{ data.records.max_gust_wind_speed|round(1) }} m/s at {{ data.records.max_gust_wind_speed_ts }}</td>
        </tr>
        <tr>
            <td bgcolor="blanchedalmond">Average Wind Speed</td>
            <td></td>
            <td bgcolor="blanchedalmond">{{ data.records.max_average_wind_speed|round(1) }} m/s at {{ data.records.max_average_wind_speed_ts }}</td>
        </tr>
    </table>
    <p>Total Rainfall: {{ data.records.total_rainfall|round(1) }}mm</p>

    <hr>
    <center>
    {% if data.prev_url %}
        <a href="{{ data.prev_url }}">&lt;&lt; {{ data.prev_date }}</a>
    {% else %}
        {{ data.prev_date }}
    {% endif %}
    |
    <a href="../">{{ data.this_month }}</a>
    |
    {% if data.next_url %}
        <a href="{{ data.next_url }}">{{ data.next_date }} &gt;&gt;</a>
    {% else %}
        {{ data.next_date }}
    {% endif %}
    <br>
    <a href="../../../now">Today</a>
    </center>

{% endblock %}
