{# This template is for a daily overview. #}

{% extends "base.html" %}
{% block title %}Weather for {{ data.date_stamp }}{% endblock %}
{% block content %}
    <h1>Weather for {{ data.date_stamp }}</h1>
    <hr> {#  This is only shown when we are looking at todays weather. #}
    <center>
        {% if data.current_data %}<a href="#current">Current Conditions</a> |{% endif %}
        <a href="#records">Records</a> | 
        <a href="#1day">1-day charts</a> | 
        <a href="#7day">7-day charts</a>
    </center>

    {% if data.current_data -%}
    <a name="current"></a>
    <h2>Conditions as of {{ data.current_data_ts }}</h2>
    <table border=2>
        <tr bgcolor="lightseagreen">
            <td><b>Sensor</b></td>
            <td><b>Value</b></td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Temperature</td>
            <td>{{ data.current_data.temperature|round(1) }}°C</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Apparent Temperature</td>
            <td>{{ data.current_data.apparent_temperature|round(1) }}°C</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Wind Chill</td>
            <td>{{ data.current_data.wind_chill|round(1) }}°C</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Dew Point</td>
            <td>{{ data.current_data.dew_point|round(1) }}°C</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Humidity</td>
            <td>{{ data.current_data.relative_humidity }}%</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Barometer</td>
            <td>{{ data.current_data.absolute_pressure|round(1) }} hPa</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Wind Speed</td>
            <td>{{ data.current_data.average_wind_speed|round(1) }} m/s</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Wind Direction</td>
            <td>{{ data.current_data.wind_direction }}</td>
        </tr> {#
        <tr bgcolor="blanchedalmond">
            <td>Rainfall</td>
            <td>{{ data.current_data.rainfall|round(1) }} mm</td>
        </tr> #}
    </table>
    {% endif %}
    <a name="records"></a>
    <h2>Records</h2>
    <table border=2>
        <tr bgcolor="lightseagreen">
            <td><b>Sensor</b></td>
            <td><b>Min</b></td>
            <td><b>Max</b></td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Temperature</td>
            <td>{{ data.records.min_temperature|round(1) }}°C at {{ data.records.min_temperature_ts }}</td>
            <td>{{ data.records.max_temperature|round(1) }}°C at {{ data.records.max_temperature_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Apparent Temperature</td>
            <td>{{ data.records.min_apparent_temperature|round(1) }}°C at {{ data.records.min_apparent_temperature_ts }}</td>
            <td>{{ data.records.max_apparent_temperature|round(1) }}°C at {{ data.records.max_apparent_temperature_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Wind Chill</td>
            <td>{{ data.records.min_wind_chill|round(1) }}°C at {{ data.records.min_wind_chill_ts }}</td>
            <td>{{ data.records.max_wind_chill|round(1) }}°C at {{ data.records.max_wind_chill_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Dew Point</td>
            <td>{{ data.records.min_dew_point|round(1) }}°C at {{ data.records.min_dew_point_ts }}</td>
            <td>{{ data.records.max_dew_point|round(1) }}°C at {{ data.records.max_dew_point_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Humidity</td>
            <td>{{ data.records.min_humidity }}% at {{ data.records.min_humidity_ts }}</td>
            <td>{{ data.records.max_humidity }}% at {{ data.records.max_humidity_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Barometer</td>
            <td>{{ data.records.min_absolute_pressure|round(1) }} hPa at {{ data.records.min_absolute_pressure_ts }}</td>
            <td>{{ data.records.max_absolute_pressure|round(1) }} hPa at {{ data.records.max_absolute_pressure_ts }}</td>
        </tr>
        <tr>
            <td bgcolor="blanchedalmond">Gust Wind Speed</td>
            <td></td>
            <td bgcolor="blanchedalmond">{{ data.records.max_gust_wind_speed|round(1) }} m/s at {{ data.records.max_gust_wind_speed_ts }}</td>
        </tr>
        <tr>
            <td bgcolor="blanchedalmond">Average Wind Speed</td>
            <td></td>
            <td bgcolor="blanchedalmond">{{ data.records.max_average_wind_speed|round(1) }} m/s at {{ data.records.max_average_wind_speed_ts }}</td>
        </tr>
    </table>
    <p>Total Rainfall: {{ data.records.total_rainfall|round(1) }}mm</p>

    <a name="1day"></a>
    <h2>1-day Charts</h2>
    <a href="temperature_tdp_large.png"><img src="temperature_tdp.png" alt="[1-day Temperature and Dew Point]"></a>
    <a href="temperature_awc_large.png"><img src="temperature_awc.png" alt="[1-day Apparent Temperature and Wind Chill]"></a>
    <a href="humidity_large.png"><img src="humidity.png" alt="[1-day Humidity]"></a>
    <a href="pressure_large.png"><img src="pressure.png" alt="[1-day Pressure]"></a>
    <a href="hourly_rainfall_large.png"><img src="hourly_rainfall.png" alt="[1-day hourly rainfall]"></a>

    <br>
    <a href="gnuplot_data.dat">gnuplot data</a>

    <a name="7day"></a>
    <h2>7-day Charts</h2>
    <a href="7-day_temperature_tdp_large.png"><img src="7-day_temperature_tdp.png" alt="[7-day Temperature and Dew Point]"></a>
    <a href="7-day_temperature_awc_large.png"><img src="7-day_temperature_awc.png" alt="[7-day Apparent Temperature and Wind Chill]"></a>
    <a href="7-day_humidity_large.png"><img src="7-day_humidity.png" alt="[7-day Humidity]"></a>
    <a href="7-day_pressure_large.png"><img src="7-day_pressure.png" alt="[7-day Pressure]"></a>

    <br>
    <a href="7-day_gnuplot_data.dat">gnuplot data</a>
    
    <hr>
    <center>
    {% if data.prev_url -%}
        <a href="{{ data.prev_url }}">&lt;&lt; {{ data.prev_date }}</a>
    {%- else -%}
        {{ data.prev_date }}
    {%- endif %} |
    <a href="../">{{ data.this_month }}</a> |
    {% if data.next_url -%}
        <a href="{{ data.next_url }}">{{ data.next_date }} &gt;&gt;</a>
    {%- else -%}
        {{ data.next_date }}
    {%- endif %}
    <br>
    <a href="../../../">Current Conditions</a> | <a href="indoor.html">Indoor readings</a>
    </center>
{% endblock %}
