.venv/*
build-desktop-*/*
.idea/*
*/.idea/*
zxw_web/static/thumb_cache/*
desktop/config.tests/*.exe
desktop/config.tests/multimedia/*.exe
desktop/reporting/reports/.idea
server/ssh-passwords
doc/desktop_reports/desktop_reports.synctex.gz
doc/desktop_reports/*.pdf
davis-logger/errors.csv
zxw_web/config.cfg
build-5101-release/*
dist-5101/*
desktop/config.tests/multimedia/.qmake.stash
desktop/config.tests/multimedia/Makefile
*.bat
*.pyc
*.obj
*.7z
*.ini
zxtechdoc.sty
zxtitle.sty
server.crt
server.key
test.tac
.hgtags
*.old
*.pro.user
*.pro.user.*
*.orig
*_test.tac
*.rej
*.cache
