# Database configuration
# host     - the database server hostname or IP address
# port     - The port the database server is listening on.
# database - The name of the database containing weather data
# user     - The username to connect to the database as
# password - The database password
# Only PostgreSQL is supported.
[database]
host: localhost
port: 5432
database: weather
user: weatheruser
password: password

# Site configuration
# default_ui      - The default user interface to use if someone requests the
#                   root directory (that is, / instead of /s/station/)
# site_name       - The name of your site. Like "Davids awesome weather stuff"
# site_root       - Site root including hostname, etc. Used for redirects.
# static_data_dir - Location on disk where static data (images, css, PNG 
#                   charts, etc) is stored. Everything in here is made
#                   publicly available.
# station_name    - The code for the weather station you want to be the
#                   one users see by default. Consult the Installation
#                   Reference Manual for more details.
# ws_uri          - URI for the zxweatherd WebSocket end-point. Leave commented
#                   out to disable.
# wss_uri         - URI for the zxweatherd secure WebSocket end-point. Leave
#                   commented out to disable.

[site]
default_ui: s
site_name: zxweather
# UNCOMMENT THESE AND SET THEM! The defaults will NOT work.
#site_root: http://weather.example.com/
#static_data_dir: /opt/zxweather/zxw_web/static/
#station_name: somewhere

# zxweather Server Configuration
# hostname       - Name or IP address of the computer running the zxweather
#                  server
# ws_port        - WebSocket port. One or both of ws_port and wss_port must be
#                  specified for instant data update functionality.
# wss_port       - WebSocket Secure port. One or both of ws_port and wss_port
#                  must be specified for instant data update functionality.
# raw_port       - Standard (raw) port. Only used for desktop client
#                  auto-configuration.
[zxweatherd]
#hostname: weather.example.com
#ws_port: 8080
#wss_port: 443
#raw_port: 4242