# Database configuration
# host     - the database server hostname or IP address
# port     - The port the database server is listening on.
# database - The name of the database containing weather data
# user     - The username to connect to the database as
# password - The database password
# Only PostgreSQL is supported.
[database]
host: localhost
port: 5432
database: weather
user: weatheruser
password: password

# Data configuration
# live_data_available - Boolean: If live data is available through the 
#                       database. This requires wh1080d to be running 
#                       somewhere.
# sample_interval     - Seconds: How often new samples appear in the database.
# plot_interval       - Seconds: How often PNG charts are re-plotted. 
[data]
live_data_available: True
sample_interval: 300
plot_interval: 1800

# Site configuration
# default_ui      - The default user interface to use if someone requests the
#                   root directory (that is, / instead of /s/station/)
# site_name       - The name of your site. Like "Davids awesome weather stuff"
# site_root       - Site root including hostname, etc. Used for redirects.
# static_data_dir - Location on disk where static data (images, css, PNG 
#                   charts, etc) is stored. Everything in here is made
#                   publicly available.
# station_name    - The name of your weather station. This appears in all
#                   URLs so choose something short and don't change it. See
#                   the installation documentation for more information.
[site]
default_ui: s
site_name: zxweather
# UNCOMMENT THESE AND SET THEM! The defaults will NOT work.
#site_root: http://weather.example.com/
#static_data_dir: /opt/zxweather/zxw_web/static/
#station_name: somewhere

# Database Replication
# This feature allows data to be uploaded to the web interface if the machine
# the web interface is running on can't make a direct connection to the weather
# database.
#
# enable          - Enable or disable the database replication feature.
# gnupg_home      - The home directory for GnuPG. This should be specific to
#                   zxweather and should only contain the the public key for
#                   verifying the weather data.
# gpg_binary      - Name of the GnuPG binary to use. If it is not specified
#                   then it will be looked for in the path.
# key_fingerprint - Only accept data signed with this key.
[database_replication]
enable: False
#gnupg_home:
#gpg_binary:
#key_fingerprint: