# Database configuration
# host     - the database server hostname or IP address
# port     - The port the database server is listening on.
# database - The name of the database containing weather data
# user     - The username to connect to the database as
# password - The database password
# Only PostgreSQL is supported.
[database]
host: localhost
port: 5432
database: weather
user: weatheruser
password: password

# Site configuration
# default_ui      - The default user interface to use if someone requests the
#                   root directory (that is, / instead of /s/station/)
# site_name       - The name of your site. Like "Davids awesome weather stuff"
# site_root       - Site root including hostname, etc. Used for redirects.
# static_data_dir - Location on disk where static data (images, css, PNG 
#                   charts, etc) is stored. Everything in here is made
#                   publicly available.
# station_name    - The code for the weather station you want to be the
#                   one users see by default. Consult the Installation
#                   Reference Manual for more details.
# ws_uri          - URI for the zxweatherd WebSocket end-point. Leave commented
#                   out to disable.
# wss_uri         - URI for the zxweatherd secure WebSocket end-point. Leave
#                   commented out to disable.

[site]
default_ui: s
site_name: zxweather
# UNCOMMENT THESE AND SET THEM! The defaults will NOT work.
#site_root: http://weather.example.com/
#static_data_dir: /opt/zxweather/zxw_web/static/
#station_name: somewhere
#ws_uri: ws://weather.example.com:8080/
#wss_uri: wss://weather.example.com:443/