# zxweather replication client service
# sample configuration file

##############################################################################
### Database Configuration ###################################################
##############################################################################
[database]
# This is the connection string for the database containing data you wish
# to push out to the remote server. An example might be:
# dsn=host=localhost port=5432 user=zxweather password=password dbname=weather

dsn=


##############################################################################
### RabbitMQ Configuration ###################################################
##############################################################################
[rabbitmq]
# Live data can be received via RabbitMQ instead of the database. This is only
# supported by the Davis data logger and requires the pika library to be
# installed. The main advantage of using RabbitMQ is it reduces the number of
# database writes from one every 2.5 seconds to one every five minutes or so.
# This is useful in cases where the database resides on flash storage which
# may wear out quickly (eg, an SD Card)

#host=localhost
#port=5672

#user=guest
#password=guest

#virtual_host=/

#exchange=weather

##############################################################################
### Transport Configuration ##################################################
##############################################################################
[transport]

# Transport type. Options are:
#  ssh  - connects to the weather server via the SSH protocol using a username
#         and password. This should be relatively secure but very inefficient.
#  udp  - Connects to the remote receiving service via UDP. This uses a lot less
#         bandwidth than ssh (good for expensive internet connections such as
#         3G) but may frequently loose live data updates.
#  tcp  - Connects to the remote receiving service via TCP. This has the
#         reliability of the SSH option but with less security and lower data
#         use (but probably not as low as the UDP option).
#
# The recommend option is udp or tcp. If bandwidth use is important it may be
# best to benchmark both to see what gives you the best results.
type=ssh

# This is the remote hostname or IP Address to connect to.
hostname=localhost

# The remote port to connect to.
port=4222

# Authorisation code for the UDP and TCP transports. The number must match the
# value used by the server exactly.
authorisation_code = 3289733128087630387

##############################################################################
### SSH Configuration ########################################################
##############################################################################
[ssh]

# This only applies if you're using the ssh transport.

# The username and password to login with
username=admin
password=password123

# The remote servers SSH Host Key. You would look something like:
# host_key = '03:ab:56:b4:92:66:01:3d:0d:53:3f:fe:0a:80:5e:35'
# If you don't specify one (leaving it as the default None below) then the
# remote hosts key will not be validated.
#host_key=

##############################################################################
### Image Configuration ######################################################
##############################################################################
[images]

# Images can only be sent over the TCP Transport. If you're using UDP then
# the client will need to make a second TCP connection to use for sending
# images. You can configure the TCP port the server is listening on below:
tcp_port=4296

# If images should be resized before transmission
resize_images=False

# List of image source codes to resize images for, comma separated
# eg: sb, rsgs, sc
# If an image source is not in this list the resize_images setting will be
# ignored for all images coming from that source
resize_image_sources=test

# Maximum size for the resized image. Aspect ratio is preserved.
new_width=640
new_height=368