# zxweather replication service
# sample configuration file

##############################################################################
### Database Configuration ###################################################
##############################################################################
[database]
# This is the connection string for the database containing data you wish
# to push out to the remote server. An example might be:
# dsn = "host=localhost port=5432 user=zxweather password=password dbname=weather"

dsn=


##############################################################################
### RabbitMQ Configuration ###################################################
##############################################################################
[rabbitmq]
# Live data can be received via RabbitMQ instead of the database. This is only
# supported by the Davis data logger and requires the pika library to be
# installed. The main advantage of using RabbitMQ is it reduces the number of
# database writes from one every 2.5 seconds to one every five minutes or so.
# This is useful in cases where the database resides on flash storage which
# may wear out quickly (eg, an SD Card)

#host=localhost
#port=5672

#username=guest
#password=guest

#virtual_host=/

#exchange=weather

##############################################################################
### Transport Configuration ##################################################
##############################################################################
[transport]

# Transport type. Options are:
#  ssh  - connects to the weather server via the SSH protocol using a username
#         and password
#  udp  - Connects to the remote receiving service via UDP. This uses less
#         bandwidth (good for expensive internet connections such as 3G) but
#         may result in some live data updates getting lost.
type=ssh

# Data encoding. Options are:
# standard      - less efficient but more reliable.
# diff          - Only includes fields in each update that have a different
#                 value from the previous update. This uses less data (good for
#                 expensive links) but when used over UDP it may increase the
#                 number of discarded live data updates.
encoding=standard

# This is the remote hostname or IP Address to connect to.
hostname=localhost

# The remote port to connect to.
port=4222

##############################################################################
### SSH Configuration ########################################################
##############################################################################
[ssh]

# This only applies if you're using the ssh transport.

# The username and password to login with
username=admin
password=password123

# The remote servers SSH Host Key. You would look something like:
# host_key = '03:ab:56:b4:92:66:01:3d:0d:53:3f:fe:0a:80:5e:35'
# If you don't specify one (leaving it as the default None below) then the
# remote hosts key will not be validated.
#host_key=







