twisted==16.4.1
psycopg2
txpostgres==1.5.0

# optional - only used by the client if image resizing is enabled
Pillow

# optional - only used by the client if RabbitMQ is configured
pika==0.11.2

# optional - only used by the client if pushing data via SSH
cryptography
pyasn1

# On windows the following is also required: pywin32