twisted
psycopg2
txpostgres
bcrypt

# optional - only used by the client if image resizing is enabled
Pillow

# optional - only used by the client if RabbitMQ is configured
pika

# optional - only used by the client if pushing data via SSH
cryptography
pyasn1

# On windows the following is also required: pywin32