# zxweather replication server service
# sample configuration file

##############################################################################
### Database Configuration ###################################################
##############################################################################
[database]
# This is the connection string for the database containing data you wish
# to push out to the remote server. An example might be:
# dsn=host=localhost port=5432 user=zxweather password=password dbname=weather

dsn=


##############################################################################
### Transport Configuration ##################################################
##############################################################################
[transport]


# This is the interface to listen on. No value is all interfaces.
interface=

# The UDP port to listen on
port=4295

# The TCP port to listen on
tcp_port = 4296

##############################################################################
### Security Configuration ###################################################
##############################################################################
[security]

# Pick a number between 0 and 18,446,744,073,709,551,615. All clients must
# use the same authorisation code as the server. This is effectively your
# password.
authorisation_code = 3289733128087630387



