[Unit]
Description=zxweather weatherpush client daemon

[Service]
ExecStart=/usr/bin/twistd --nodaemon --pidfile= weather_push_client --config-file=/etc/zxweather/weather_push_client.cfg
WorkingDirectory=/opt/zxweather/weather_push
Environment="PYTHONPATH=/opt/zxweather/weather_push/"
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
