{# This template is for a daily overview. #}

{% extends "base.html" %}
{% block title %}Weather for {{ data.date_stamp }}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <h1>Weather for {{ data.date_stamp }}</h1>
    <hr> {#  This is only shown when we are looking at todays weather. #}
    <div class="top-navlinks">
        {% if data.current_data %}<a href="#current">Current Conditions</a> |{% endif %}
        <a href="#records">Records</a> | 
        <a href="#1day">1-day charts</a> | 
        <a href="#7day">7-day charts</a>
    </div>


    <section>
    {% if data.current_data -%}
        <div class="row">
            <div class="span6">
                <h2 id="current">Conditions as of {{ data.current_data_ts }}</h2>

                <table  class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Sensor</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Relative Humidity</td>
                        <td>{{ data.current_data.relative_humidity }}%</td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td>{{ data.current_data.temperature|round(1) }}°C</td>
                    </tr>
                    <tr>
                        <td>Apparent Temperature</td>
                        <td>{{ data.current_data.apparent_temperature|round(1) }}°C</td>
                    </tr>
                    <tr>
                        <td>Wind Chill</td>
                        <td>{{ data.current_data.wind_chill|round(1) }}°C</td>
                    </tr>
                    <tr>
                        <td>Dew Point</td>
                        <td>{{ data.current_data.dew_point|round(1) }}°C</td>
                    </tr>
                    <tr>
                        <td>Absolute Pressure</td>
                        <td>{{ data.current_data.absolute_pressure|round(1) }} hPa</td>
                    </tr>
                    <tr>
                        <td>Average Wind Speed</td>
                        <td>{{ data.current_data.average_wind_speed|round(1) }} m/s</td>
                    </tr>
                    <tr>
                        <td>Gust Wind Speed</td>
                        <td>{{ data.current_data.gust_wind_speed|round(1) }} m/s</td>
                    </tr>
                    <tr>
                        <td>Wind Direction</td>
                        <td>{{ data.current_data.wind_direction }}</td>
                    </tr> {#
                    <tr>
                        <td>Rainfall</td>
                        <td>{{ data.current_data.rainfall|round(1) }} mm</td>
                    </tr> #}
                    </tbody>
                </table>
            </div>
            <div class="span6">
    {%- else -%}
        <div class="row"><div class="span6">
    {%- endif %}
            <h2 id="records">Records</h2>
            <table  class="table table-bordered">
                <thead>
                <tr>
                    <th>Sensor</th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Temperature</td>
                    <td>{{ data.records.min_temperature|round(1) }}°C at {{ data.records.min_temperature_ts }}</td>
                    <td>{{ data.records.max_temperature|round(1) }}°C at {{ data.records.max_temperature_ts }}</td>
                </tr>
                <tr>
                    <td>Wind Chill</td>
                    <td>{{ data.records.min_wind_chill|round(1) }}°C at {{ data.records.min_wind_chill_ts }}</td>
                    <td>{{ data.records.max_wind_chill|round(1) }}°C at {{ data.records.max_wind_chill_ts }}</td>
                </tr>
                <tr>
                    <td>Apparent Temperature</td>
                    <td>{{ data.records.min_apparent_temperature|round(1) }}°C at {{ data.records.min_apparent_temperature_ts }}</td>
                    <td>{{ data.records.max_apparent_temperature|round(1) }}°C at {{ data.records.max_apparent_temperature_ts }}</td>
                </tr>
                <tr>
                    <td>Dew Point</td>
                    <td>{{ data.records.min_dew_point|round(1) }}°C at {{ data.records.min_dew_point_ts }}</td>
                    <td>{{ data.records.max_dew_point|round(1) }}°C at {{ data.records.max_dew_point_ts }}</td>
                </tr>
                <tr>
                    <td>Absolute Pressure</td>
                    <td>{{ data.records.min_absolute_pressure|round(1) }} hPa at {{ data.records.min_absolute_pressure_ts }}</td>
                    <td>{{ data.records.max_absolute_pressure|round(1) }} hPa at {{ data.records.max_absolute_pressure_ts }}</td>
                </tr>
                <tr>
                    <td>Relative Humidity</td>
                    <td>{{ data.records.min_humidity }}% at {{ data.records.min_humidity_ts }}</td>
                    <td>{{ data.records.max_humidity }}% at {{ data.records.max_humidity_ts }}</td>
                </tr>
                <tr>
                    <td>Gust Wind Speed</td>
                    <td class="no-value"></td>
                    <td>{{ data.records.max_gust_wind_speed|round(1) }} m/s at {{ data.records.max_gust_wind_speed_ts }}</td>
                </tr>
                <tr>
                    <td>Average Wind Speed</td>
                    <td class="no-value"></td>
                    <td>{{ data.records.max_average_wind_speed|round(1) }} m/s at {{ data.records.max_average_wind_speed_ts }}</td>
                </tr>
                </tbody>
            </table>
            <p>Total Rainfall: {{ data.records.total_rainfall|round(1) }}mm</p>
    {% if data.current_data -%}
            </div>
        </div>
    {%- else -%}
        </div><div class="span6"></div></div>
    {%- endif %}
    </section>

    <section id="1day">
    <h2>1-day Charts</h2>
        <div class="row">
            <div class="span6">
                <div id="chart_temperature_tdp_div" class="chart">
                    <img src="/images/loading.gif" alt="loading"/>
                </div>
            </div>
            <div class="span6">
                <div id="chart_temperature_awc_div" class="chart">
                    <img src="/images/loading.gif" alt="loading"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div id="chart_humidity_div" class="chart">
                    <img src="/images/loading.gif" alt="loading"/>
                </div>
            </div>
            <div class="span6">
                <div id="chart_pressure_div" class="chart">
                    <img src="/images/loading.gif" alt="loading"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                {% if data.records.total_rainfall > 0 -%}
                    <div id="chart_hourly_rainfall_div" class="chart">
                        <img src="/images/loading.gif" alt="loading"/>
                    </div>
                {%- endif %}
            </div>
            <div class="span6">

            </div>
        </div>
    </section>

    <section id="7day">
        <h2>7-day Charts</h2>

        <div id="chart_7_temperature_tdp_div" class="chart">
            <img src="/images/loading.gif" alt="loading"/>
        </div>
        <div id="chart_7_temperature_awc_div" class="chart">
            <img src="/images/loading.gif" alt="loading"/>
        </div>
        <div id="chart_7_humidity_div" class="chart">
            <img src="/images/loading.gif" alt="loading"/>
        </div>
        <div id="chart_7_pressure_div" class="chart">
            <img src="/images/loading.gif" alt="loading"/>
        </div>
        {% if data.rainfall_7days_total > 0 -%}
        <div id="chart_7_hourly_rainfall_div" class="chart">
            <img src="/images/loading.gif" alt="loading"/>
        </div>
        {%- endif %}
    </section>

    <hr>
    <div class="footer-navlinks">
    {% if data.prev_url %}
        <a href="{{ data.prev_url }}">&lt;&lt; {{ data.prev_date }}</a>
    {% else %}
        {{ data.prev_date }}
    {% endif %}
    |
    <a href="../">{{ data.this_month }}</a>
    |
    {% if data.next_url %}
        <a href="{{ data.next_url }}">{{ data.next_date }} &gt;&gt;</a>
    {% else %}
        {{ data.next_date }}
    {% endif %}
    <br>
    <a href="../../../now">Today</a>
    </div>
    <a href="indoor.html">I</a>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
            //google.load('visualization', '1', {packages:['table']});
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawCharts);
            function drawCharts() {

                function drawAllCharts(data,
                                       tdp_element,
                                       awc_element,
                                       humidity_element,
                                       pressure_element) {

                    // Temperature and Dewpoint only
                    var temperature_tdp = new google.visualization.DataView(data);
                    temperature_tdp.hideColumns([3,4,5,6]);

                    var temperature_tdp_options = {
                        title: 'Temperature and Dew Point (°C)',
                        legend: {position: 'bottom'}
                    };
                    var temperature_tdp_chart = new google.visualization.LineChart(tdp_element);
                    temperature_tdp_chart.draw(temperature_tdp, temperature_tdp_options);

                    // Apparent Temperature and Wind Chill only
                    var temperature_awc = new google.visualization.DataView(data);
                    temperature_awc.hideColumns([1,2,5,6]);

                    var temperature_awc_options = {
                        title: 'Apparent Temperature and Wind Chill (°C)',
                        legend: {position: 'bottom'}
                    };
                    var temperature_awc_chart = new google.visualization.LineChart(awc_element);
                    temperature_awc_chart.draw(temperature_awc, temperature_awc_options);

                    // Absolute Pressure only
                    var pressure = new google.visualization.DataView(data);
                    pressure.hideColumns([1,2,3,4,5]);

                    var pressure_options = {
                        title: 'Absolute Pressure (hPa)',
                        legend: {position: 'none'},
                        vAxis: {format: '####'}
                    };
                    var pressure_chart = new google.visualization.LineChart(pressure_element);
                    pressure_chart.draw(pressure, pressure_options);

                    // Humidity only
                    var humidity = new google.visualization.DataView(data);
                    humidity.hideColumns([1,2,3,4,6]);

                    var humidity_options = {
                        title: 'Humidity (%)',
                        legend: {position: 'none'}
                    };
                    var humidity_chart = new google.visualization.LineChart(humidity_element);
                    humidity_chart.draw(humidity, humidity_options);
                }

                /***************************************************************
                 * Fetch the days samples and draw the 1-day charts
                 */
                $.getJSON('{{ data_urls['samples'] }}', function(data) {
                    // This contains all samples for the day. Included columns are
                    // 0: timestamp
                    // 1: temperature
                    // 2: dewpoint
                    // 3: apparenttemp
                    // 4: windchill
                    // 5: humidity
                    // 6: abspressure
                    var sampledata = new google.visualization.DataTable(data);

                    // Do some formatting
                    var temperatureFormatter = new google.visualization.NumberFormat(
                            { pattern: '##.# °C'});
                    temperatureFormatter.format(sampledata,1);
                    temperatureFormatter.format(sampledata,2);
                    temperatureFormatter.format(sampledata,3);
                    temperatureFormatter.format(sampledata,4);

                    var humidityFormatter = new google.visualization.NumberFormat(
                            { pattern: '##'});
                    humidityFormatter.format(sampledata,5);

                    var pressureFormatter = new google.visualization.NumberFormat(
                            { pattern: '####.# hPa'});
                    pressureFormatter.format(sampledata,6);

                    drawAllCharts(sampledata,
                                  document.getElementById('chart_temperature_tdp_div'),
                                  document.getElementById('chart_temperature_awc_div'),
                                  document.getElementById('chart_humidity_div'),
                                  document.getElementById('chart_pressure_div')
                    );
                });

                /***************************************************************
                 * Fetch samples for the past 7 days and draw the 7-day charts
                 */
                $.getJSON('{{ data_urls['7day_samples'] }}', function(data) {
                    // This contains all samples for the day. Included columns are
                    // 0: timestamp
                    // 1: temperature
                    // 2: dewpoint
                    // 3: apparenttemp
                    // 4: windchill
                    // 5: humidity
                    // 6: abspressure
                    var sampledata = new google.visualization.DataTable(data);

                    // Do some formatting
                    var temperatureFormatter = new google.visualization.NumberFormat(
                            { pattern: '##.# °C'});
                    temperatureFormatter.format(sampledata,1);
                    temperatureFormatter.format(sampledata,2);
                    temperatureFormatter.format(sampledata,3);
                    temperatureFormatter.format(sampledata,4);

                    var humidityFormatter = new google.visualization.NumberFormat(
                            { pattern: '##'});
                    humidityFormatter.format(sampledata,5);

                    var pressureFormatter = new google.visualization.NumberFormat(
                            { pattern: '####.# hPa'});
                    pressureFormatter.format(sampledata,6);

                    drawAllCharts(sampledata,
                                  document.getElementById('chart_7_temperature_tdp_div'),
                                  document.getElementById('chart_7_temperature_awc_div'),
                                  document.getElementById('chart_7_humidity_div'),
                                  document.getElementById('chart_7_pressure_div')
                    );
                });

            {% if data.records.total_rainfall > 0 %}
                /***************************************************************
                 * Fetch the days hourly rainfall and chart it
                 */
                $.getJSON('{{ data_urls['rainfall'] }}', function(data) {
                    // This contains all samples for the day. Included columns are
                    // 0: timestamp
                    // 1: temperature
                    // 2: dewpoint
                    // 3: apparenttemp
                    // 4: windchill
                    // 5: humidity
                    // 6: abspressure
                    var rainfall_data = new google.visualization.DataTable(data);

                    // Do some formatting
                    var rainfallFormatter = new google.visualization.NumberFormat(
                            { pattern: '##.# mm'});
                    rainfallFormatter.format(rainfall_data,1);

                    var dateFormatter = new google.visualization.DateFormat(
                            { pattern: 'HH'});
                    dateFormatter.format(rainfall_data,0);


                    var dataView = new google.visualization.DataView(rainfall_data);
                    dataView.setColumns([{calc: function(data, row) {
                        return data.getFormattedValue(row, 0); }, type:'string'}, 1]);

                    var options = {
                        title: 'Hourly Rainfall (mm)',
                        legend: {position: 'none'},
                        isStacked: true,
                        focusTarget: 'datum'
                    };
                    var rainfall_chart = new google.visualization.ColumnChart(
                            document.getElementById('chart_hourly_rainfall_div'));
                    rainfall_chart.draw(dataView, options);
                });
            {% endif %}
            {% if data.rainfall_7days_total > 0 %}
                /***************************************************************
                 * Fetch the 7 day hourly rainfall and chart it
                 */
                $.getJSON('{{ data_urls['7day_rainfall'] }}', function(data) {
                    // This contains all samples for the day. Included columns are
                    // 0: timestamp
                    // 1: temperature
                    // 2: dewpoint
                    // 3: apparenttemp
                    // 4: windchill
                    // 5: humidity
                    // 6: abspressure
                    var rainfall_data = new google.visualization.DataTable(data);

                    // Do some formatting
                    var rainfallFormatter = new google.visualization.NumberFormat(
                            { pattern: '##.# mm'});
                    rainfallFormatter.format(rainfall_data,1);

                    var dateFormatter = new google.visualization.DateFormat(
                            { pattern: 'HH:00 dd-MMM-yyyy'});
                    dateFormatter.format(rainfall_data,0);


                    var dataView = new google.visualization.DataView(rainfall_data);
                    dataView.setColumns([{calc: function(data, row) {
                        return data.getFormattedValue(row, 0); }, type:'string'}, 1]);

                    var options = {
                        title: 'Hourly Rainfall (mm)',
                        legend: {position: 'none'},
                        isStacked: true,
                        focusTarget: 'datum'
                    };
                    var rainfall_chart = new google.visualization.ColumnChart(
                            document.getElementById('chart_7_hourly_rainfall_div'));
                    rainfall_chart.draw(dataView, options);
                });
            {% endif %}
            }
        </script>
{% endblock %}