{# This template is for a daily overview. #}

{% extends "base.html" %}
{% block title %}Indoor weather for {{ data.date_stamp }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../../../../css/modern.css" type="text/css"/>
{% endblock %}
{% block content %}
    <h1>Indoor weather for {{ data.date_stamp }}</h1>
    <hr> {#  This is only shown when we are looking at todays weather. #}
    <p>These are recordings for temperature and humidity at the indoor
    base station.</p>
    {% if data.current_data %}
    <h2>Conditions as of {{ data.current_data_ts }}</h2>
    <p>Data is for the five minute period ending at {{ data.current_data_ts }}</p>
    <table>
        <thead>
            <tr>
                <th>Sensor</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Indoor Relative Humidity</td>
                <td>{{ data.current_data.indoor_relative_humidity }}%</td>
            </tr>
            <tr>
                <td>Indoor Temperature</td>
                <td>{{ data.current_data.indoor_temperature|round(1) }}°C</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    
    <h2>1-day Charts</h2>
    <div id="daily-charts">
        <div class="left-column">
            <div id="chart_temperature_div"></div>
        </div>
        <div class="right-column">
            <div id="chart_humidity_div"></div>
        </div>
        <div class="column-end"></div>
    </div>

    <h2>7-day Charts</h2>
    <div id="chart_7_temperature_div"></div>
    <div id="chart_7_humidity_div"></div>

    <hr>
    <div class="footer-navlinks">
    <a href="./">Back to outdoor weather</a>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        //google.load('visualization', '1', {packages:['table']});
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawTable);
        function drawTable() {

            function drawAllTables(data,
                                   temperature_element,
                                   humidity_element) {

                // Temperature and Dewpoint only
                var temperature = new google.visualization.DataView(data);
                temperature.hideColumns([2]);

                var temperature_options = {
                    title: 'Indoor Temperature (°C)',
                    legend: {position: 'none'}
                };
                var temperature_chart = new google.visualization.LineChart(temperature_element);
                temperature_chart.draw(temperature, temperature_options);


                // Humidity only
                var humidity = new google.visualization.DataView(data);
                humidity.hideColumns([1]);

                var humidity_options = {
                    title: 'Indoor Humidity (%)',
                    legend: {position: 'none'}
                };
                var humidity_chart = new google.visualization.LineChart(humidity_element);
                humidity_chart.draw(humidity, humidity_options);
            }

            /***************************************************************
             * Fetch the days samples and draw the 1-day charts
             */
            $.getJSON('{{ dataurls.samples }}', function(data) {
                // This contains all samples for the day. Included columns are
                // 0: timestamp
                // 1: temperature
                // 2: humidity
                var sampledata = new google.visualization.DataTable(data);

                drawAllTables(sampledata,
                              document.getElementById('chart_temperature_div'),
                              document.getElementById('chart_humidity_div')
                );
            });

            /***************************************************************
             * Fetch samples for the past 7 days and draw the 7-day charts
             */
            $.getJSON('{{ dataurls.samples_7day }}', function(data) {
                // This contains all samples for the day. Included columns are
                // 0: timestamp
                // 1: temperature
                // 2: humidity
                var sampledata = new google.visualization.DataTable(data);

                drawAllTables(sampledata,
                              document.getElementById('chart_7_temperature_div'),
                              document.getElementById('chart_7_humidity_div')
                );
            });
        }
    </script>

{% endblock %}
