{# This template is for a daily overview. #}

{% extends "base.html" %}
{% block title %}Weather for {{ data.this_month }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    <h1>Weather for {{ data.this_month }}</h1>
    <hr>
    <center>
        {% if data.current_data %}<a href="#current">Current Conditions</a> |{% endif %}
        <a href="#days">Days for this Month</a> |
        <a href="#records">Records</a> |
        <a href="#charts">Charts</a>
    </center>

    <a name="days"></a>
    <h2>Days for {{ data.this_month }} {{ data.year_stamp }}</h2>
    <p>
        {% set i = 0 %}
        {% for day in data.days %}
            {% set i = i + 1 %}
            <a href="{{ day }}/">{{ day }}</a> {% if i < data.days|length %}|{% endif %}
        {% endfor %}
    </p>

    <a name="records"></a>
    <h2>Records</h2>
    <table border=2>
        <tr bgcolor="lightseagreen">
            <td><b>Sensor</b></td>
            <td><b>Min</b></td>
            <td><b>Max</b></td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Temperature</td>
            <td>{{ data.records.min_temperature|round(1) }}°C at {{ data.records.min_temperature_ts }}</td>
            <td>{{ data.records.max_temperature|round(1) }}°C at {{ data.records.max_temperature_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Wind Chill</td>
            <td>{{ data.records.min_wind_chill|round(1) }}°C at {{ data.records.min_wind_chill_ts }}</td>
            <td>{{ data.records.max_wind_chill|round(1) }}°C at {{ data.records.max_wind_chill_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Apparent Temperature</td>
            <td>{{ data.records.min_apparent_temperature|round(1) }}°C at {{ data.records.min_apparent_temperature_ts }}</td>
            <td>{{ data.records.max_apparent_temperature|round(1) }}°C at {{ data.records.max_apparent_temperature_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Dew Point</td>
            <td>{{ data.records.min_dew_point|round(1) }}°C at {{ data.records.min_dew_point_ts }}</td>
            <td>{{ data.records.max_dew_point|round(1) }}°C at {{ data.records.max_dew_point_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Absolute Pressure</td>
            <td>{{ data.records.min_absolute_pressure|round(1) }} Hpa at {{ data.records.min_absolute_pressure_ts }}</td>
            <td>{{ data.records.max_absolute_pressure|round(1) }} Hpa at {{ data.records.max_absolute_pressure_ts }}</td>
        </tr>
        <tr bgcolor="blanchedalmond">
            <td>Relative Humidity</td>
            <td>{{ data.records.min_humidity }}% at {{ data.records.min_humidity_ts }}</td>
            <td>{{ data.records.max_humidity }}% at {{ data.records.max_humidity_ts }}</td>
        </tr>
        <tr>
            <td bgcolor="blanchedalmond">Gust Wind Speed</td>
            <td></td>
            <td bgcolor="blanchedalmond">{{ data.records.max_gust_wind_speed|round(1) }} m/s at {{ data.records.max_gust_wind_speed_ts }}</td>
        </tr>
        <tr>
            <td bgcolor="blanchedalmond">Average Wind Speed</td>
            <td></td>
            <td bgcolor="blanchedalmond">{{ data.records.max_average_wind_speed|round(1) }} m/s at {{ data.records.max_average_wind_speed_ts }}</td>
        </tr>
    </table>
    <p>Total Rainfall: {{ data.records.total_rainfall|round(1) }}mm</p>

    <a name="charts"></a>
    <h2>Monthly Charts</h2>
    <div id="chart_temperature_tdp_div"></div>
    <div id="chart_temperature_awc_div"></div>
    <div id="chart_humidity_div"></div>
    <div id="chart_pressure_div"></div>

    <hr>
    <center>
        {% if data.prev_url %}
            <a href="{{ data.prev_url }}">&lt;&lt; {{ data.prev_month }} {{ data.prev_year }}</a>
        {% else %}
            &lt;&lt; {{ data.prev_month }} {{ data.prev_year }}
        {% endif %}
        |
        <a href="../">{{ data.this_year }}</a>
        |
        {% if data.next_url %}
            <a href="{{ data.next_url }}">{{ data.next_month }} {{ data.next_year }} &gt;&gt;</a>
        {% else %}
            {{ data.next_month }} {{ data.next_year }} &gt;&gt;
        {% endif %}
        <br>
        <a href="../../now">Today</a>
    </center>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        //google.load('visualization', '1', {packages:['table']});
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawTable);
        function drawTable() {

            function drawAllTables(data,
                                   tdp_element,
                                   awc_element,
                                   humidity_element,
                                   pressure_element) {

                // Temperature and Dewpoint only
                var temperature_tdp = new google.visualization.DataView(data);
                temperature_tdp.hideColumns([3,4,5,6]);

                var temperature_tdp_options = {
                    title: 'Temperature and Dew Point'
                };
                var temperature_tdp_chart = new google.visualization.LineChart(tdp_element);
                temperature_tdp_chart.draw(temperature_tdp, temperature_tdp_options);

                // Apparent Temperature and Wind Chill only
                var temperature_awc = new google.visualization.DataView(data);
                temperature_awc.hideColumns([1,2,5,6]);

                var temperature_awc_options = {
                    title: 'Apparent Temperature and Wind Chill'
                };
                var temperature_awc_chart = new google.visualization.LineChart(awc_element);
                temperature_awc_chart.draw(temperature_awc, temperature_awc_options);

                // Absolute Pressure only
                var pressure = new google.visualization.DataView(data);
                pressure.hideColumns([1,2,3,4,5]);

                var pressure_options = {
                    title: 'Absolute Pressure'
                };
                var pressure_chart = new google.visualization.LineChart(pressure_element);
                pressure_chart.draw(pressure, pressure_options);

                // Humidity only
                var humidity = new google.visualization.DataView(data);
                humidity.hideColumns([1,2,3,4,6]);

                var humidity_options = {
                    title: 'Humidity'
                };
                var humidity_chart = new google.visualization.LineChart(humidity_element);
                humidity_chart.draw(humidity, humidity_options);
            }

            /***************************************************************
             * Fetch the days samples and draw the 1-day charts
             */
            $.getJSON('{{ dataurls.samples }}', function(data) {
                // This contains all samples for the day. Included columns are
                // 0: timestamp
                // 1: temperature
                // 2: dewpoint
                // 3: apparenttemp
                // 4: windchill
                // 5: humidity
                // 6: abspressure
                var sampledata = new google.visualization.DataTable(data);

                drawAllTables(sampledata,
                              document.getElementById('chart_temperature_tdp_div'),
                              document.getElementById('chart_temperature_awc_div'),
                              document.getElementById('chart_humidity_div'),
                              document.getElementById('chart_pressure_div')
                );
            });
        }
    </script>

{% endblock %}
