# Python 2.7 support was dropped in psycopg 2.9
psycopg2==2.8.6

# 20.3.0 is the last version supporting python 2.7
twisted==22.1.0
pytz
pyserial
pyopenssl
service_identity

# On windows only for pyserial version 2.5 and older:
#pywin32

# only required if using RabbitMQ. Version 1.1.0 is the last release to support
# Python 2.7.
pika==1.1.0
