<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Anything older than IE8 really can't handle anything except the basic
         HTML interface. So we'll redirect straight away. -->
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;URL='{{ switch_url['b'] }}'">
    <![endif]-->
    <title>{% block title %}{% endblock %} - {{ sitename }}</title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <style>
        body {
            padding-top: 60px; /* Account for the navbar */
        }
        .chart {
            height: 200px;
        }

        .chart_key {
            padding-bottom: 20px;
            text-align: right;
        }

        /* The loading animation that appears in charts */
        div.chart div.bg_loading {
            background: url("/images/loading.gif") no-repeat center center;
            width: 100%;
            height: 100%;
        }

        .refreshbutton {
            float: right;
        }
    </style>
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text.css" />
    {% if ui and ui in ('s', 'm') -%}
        <style type="text/css">
            .dygraph-title {
                font-size: 10pt;
            }
            .dygraph-label {
                font-size: 10pt;
            }
        </style>
    {%- endif %}
    {% block head %} {% endblock %}
    <script type="text/javascript" src="/js/modernizr-canvas.min.js"></script>
</head>
<body>
{#- ###################### Some macros ###################### -#}
{#- This Macro implements the Bootstrap breadcrumb component. Usage is:
      {{ breadcrumb([('/s/rua/','Home'), ('/s/rua/2012/','2012')],'April') }}
-#}
{%- macro breadcrumb(parents, this_page) %}
    {%- if this_page %}
    <ul class="breadcrumb">
    {%- if parents %}
        {%- for parent in parents %}
        <li>
            <a href="{{ parent[0] }}">{{ parent[1] }}</a> <span class="divider">/</span>
        </li>
        {%- endfor %}
    {%- endif %}
        <li class="active">{{ this_page }}</li>
    </ul>
    {%- endif %}
{%- endmacro -%}
{#- This macro outputs navbar list items and sets the active state based on
    if the href is '#' or './'
 -#}
{%- macro navli(id, name) -%}
    {% if nav[id] == "#" or nav[id] == "./" -%}
    <li class="active">
    {%- else -%}
    <li>
    {%- endif -%}
    <a href="{{ nav[id] }}">{{ name }}</a></li>
{%- endmacro %}

    {% if nav -%}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">{{ sitename }}</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        {% if archive_mode %}
                        {{ navli('home', 'Home') }}
                        {% else %}
                        {{ navli('home','Now') }}
                        {{ navli('yesterday','Yesterday') }}
                        {{ navli('this_month','This Month') }}
                        {{ navli('this_year','This Year') }}
                        {% endif %}
                        {{ navli('about','About') }}
                    </ul>
                    {% if (page_data["stations"]|length) > 1 %}
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ page_data["station_name"] }}<b class="caret"></b></a>
                            <ul class="dropdown-menu" id="station_switch_menu">
                                {% for station in page_data["stations"] %}
                                <li><a href="{{ station[0] }}" data-station-code="{{ station[2] }}">{{ station[1] }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {%- endif %}

    <div class="container">
        {% if ui and ui in ('s', 'm') -%}
        <!--[if IE 8]>
        <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Unsupported browser!</strong>
        Internet Explorer 8 is too old to draw the charts on this page. Please
        upgrade your browser or try one of the other interfaces:
        <ul>
            <li><a href="{{ switch_url['a'] }}">Alternate</a> - This still provides interactive charts but they will load very slowly and may lock up your browser window briefly.
            <li><a href="{{ switch_url['b'] }}">Basic HTML</a> - A very basic interface compatible with Internet Explorer 4+ and Netscape 4.04+
        </ul>
        </div>
        <![endif]-->
        <div class="alert" style="display:none;" id="canvas_missing">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Unsupported browser!</strong>
            Your browser does not support the HTML5 Canvas feature. Please upgrade to a more
            modern browser or try one of the other interfaces:<br><br>
            <a href="{{ switch_url['a'] }}" class="btn">Switch to Alternate Interface</a>
            <a href="{{ switch_url['b'] }}" class="btn">Switch to Basic HTML Interface</a>
        </div>
        {%- endif -%}
        {% if ui and ui == 'a' %}
        <!--[if IE 8]>
        <div class="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Unsupported browser!</strong>
        The charts on this page have been disabled because Internet Explorer 8
        draws them very slowly and may lock up for a few seconds as they are
        drawn. You should upgrade to a modern web browser or switch to the
        Basic HTML interface.

        <p><br><button id="ie8_enable_charts" onclick="ie8_enable_charts();" class="btn" data-dismiss="alert">Enable Charts</button>
        <a class="btn" href="{{ switch_url['b'] }}">Switch to the Basic HTML interface</a>
        </div>
        <![endif]-->
        {% endif %}
        {% if station_message %}
        <div class="alert alert-info" style="display:none;" id="stn_msg">
            <button type="button" class="close" data-dismiss="alert"
                    onclick="msg_close()">×</button>
            {{ station_message }}
        </div>
        {% endif %}
        {%- block content %}{% endblock %}
    </div>

    {% if (page_data["stations"]|length) > 1 %}
    {# This dialog and associated script, etc, is used when switching to a
     # station that doesn't have data for what ever date you switched from. In
     # that case the user is given the option to navigate to a page the station
     # *does* have data for or to go back where they came from. As this is only
     # of any use when there are multiple stations present there isn't any point
     # in sending it to the browser when there is only one station present. #}
    <div id="ndModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>No Data: <span id="nd_station"></span></h3>
        </div>
        <div class="modal-body">
            <p>
                The weather station you selected does not have any data for
                <span id="nd_date"></span>. If you wish to browse
                data for that station you should select one of the links
                below as a starting point.
            </p>
            <p>
                The earliest date available for the station is:
                <a href="#" id="nd_earliest_lnk">none</a>.
            </p>
            <p>
                The latest date avaialble for the station is:
                <a href="#" id="nd_latest_lnk">none</a>.
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    {% if station_message %}<script type="text/javascript" src="/js/jquery.cookie.js"></script>{% endif %}
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {%- block scripts %}{% endblock %}
    <script type="text/javascript">
    function show_no_data(station_name, date, earliest_date, earliest_url, latest_date, latest_url) {
        $('#nd_station').html(station_name);
        $('#nd_date').html(date);

        var earliest_link = $('#nd_earliest_lnk');
        var latest_link = $('#nd_latest_lnk');
        earliest_link.attr('href', earliest_url);
        earliest_link.html(earliest_date);
        earliest_link.click(function() {
            $('#ndModal').modal('hide');
            return true;
        });

        latest_link.attr('href', latest_url);
        latest_link.attr('onclick', 'close_and_switch("' + latest_url + '");');
        latest_link.html(latest_date);
        latest_link.click(function() {
            $('#ndModal').modal('hide');
            return true;
        });

        $('#ndModal').modal();
    }

    function switch_url(station_code) {
        var result = "";

        $('#station_switch_menu').find('li a').each(function() {
            var href = $(this).attr('href');
            var code = $(this).attr('data-station-code');
            if (code == station_code)
                result = href;
        });

        return result;
    }

    function switch_to_station(station_code) {
        window.location = switch_url(station_code);
    }

    {% if station_message %}
    function msg_close() {
        $.cookie("msg", "{{ station_message_ts }}", {path: '/'});
    }

    $(document).ready(function() {
       var close_ts = $.cookie("msg");
       if (close_ts === undefined || close_ts < {{ station_message_ts }}) {
           $("#stn_msg").show();
       }
    });
    {% endif %}
    </script>
    {% endif %}
</body>
</html>