{# INCLUDE FILE
 # Used by: station.html, day.html
 #
 # This template includes the live data and records tables configured for use
 # on 'Todays' page. This is always used by station.html and is also used
 # by day.html when displaying the current dates page. -#}

    <section id="live">
        <div class="row">
            <div class="span6">
                <div>
                    <h2 style="float: left;">Current Conditions</h2>
                    <div style="float: right; padding-top: 13px;">
                        <div style="padding-left: 11px; padding-top: 11px; padding-bottom: 11px;"
                             id="live_status_cont"
                             data-toggle="tooltip" data-placement="left"
                             title="Connecting...">
                            <div id="live_status" class="fm_status_grey"></div>
                        </div>
                    </div>
                    <div style="float: right; padding-top: 22px;">
                        Time: <span id="current_time"></span>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="current_conditions">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Temperature</td>
                            <td id="live_temperature">{{ data.current_data.temperature }}°C</td>
                        </tr>
                        <tr>
                            <td>Apparent Temperature</td>
                            <td id="live_apparent_temperature">{{ data.current_data.apparent_temperature }}°C</td>
                        </tr>
                        <tr>
                            <td>Wind Chill</td>
                            <td id="live_wind_chill">{{ data.current_data.wind_chill }}°C</td>
                        </tr>
                        <tr>
                            <td>Dew Point</td>
                            <td id="live_dew_point">{{ data.current_data.dew_point }}°C</td>
                        </tr>
                        <tr>
                            <td>Humidity</td>
                            <td id="live_relative_humidity">{{ data.current_data.relative_humidity }}%</td>
                        </tr>
                        <tr>
                            <td>Barometer</td>
                            <td id="live_absolute_pressure">{{ data.current_data.absolute_pressure }} hPa</td>
                        </tr>
                        <tr>
                            <td>Wind Speed</td>
                            <td id="live_avg_wind_speed">{{ data.current_data.average_wind_speed }} m/s</td>
                        </tr>
                        <tr>
                            <td>Wind Direction</td>
                            <td id="live_wind_direction">
                                {% if data.current_data.average_wind_speed == 0.0 %}--{% else %}
                                {{ data.current_data.wind_direction }}°
                                {% endif %}
                            </td>
                        </tr>
                        {%  if hw_type == 'DAVIS' %}
                            <tr>
                                <td>Rain Rate</td>
                                <td id="rain_rate">{{ data.current_data.rain_rate }} mm/h</td>
                            </tr>
                            <tr>
                                <td>Current Storm Rain</td>
                                <td id="storm_rain">{{ data.current_data.storm_rain }} mm</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                <div id="cc_stale" style="display: none;">
                    <div class="alert alert-error">
                        <strong>Error:</strong>
                        No live data available. Live data
                        has not been refreshed in <span id="cc_data_age"></span> seconds.
                        The update service may have stopped.
                    </div>
                </div>
                <div id="cc_bad" style="display: none;">
                    <div class="alert alert-error">
                        <strong>Error:</strong>
                        No live data available. This is likely due to
                        misconfiguration.
                    </div>
                </div>
                <div id="cc_refresh_failed" style="display: none;">
                    <div class="alert alert-warning">
                        <strong>Warning!</strong>
                        Live data refresh failed. The server may be down.
                    </div>
                </div>
            </div>

            <div class="span6">
                <div>
                    <h2 style="display: inline-block; float: left;">Todays Records</h2>
                    <div style="padding-top: 10px;">
                        <button id="btn_records_refresh"
                                class="btn refreshbutton"
                                style="float: right;"
                                onclick="refresh_records()"
                                data-loading-text="loading...">
                            <i class="icon-refresh"></i> Refresh
                        </button>
                    </div>
                </div>
                {% include 'day-records-table.html' %}
                {% if hw_type == 'DAVIS' %}
                    <div>
                        <h3>Forecast</h3>
                        <div id="forecast_icon" class="fc_clear" style="float:left; padding-right: 5px;"></div>
                        <div>
                            <span id="forecast_text">No Forecast</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>