{# INCLUDE FILE
 # Used by: station.html, day.html
 #
 # This is the records table used on the station overview page and the day
 # pages. The records table can be refreshed AJAXly using a refresh button on
 # the station overview page and (if the page is for today) the day page. -#}
                <div id="records_table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Min</th>
                            <th>Max</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Temperature</td>
                            <td id="temp_min">{% if data.records and data.records.min_temperature %}{{ data.records.min_temperature|round(1) }}°C at {{ data.records.min_temperature_ts }}{% else %}--{% endif %}</td>
                            <td id="temp_max">{% if data.records and data.records.max_temperature %}{{ data.records.max_temperature|round(1) }}°C at {{ data.records.max_temperature_ts }}{% else %}--{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Apparent Temperature</td>
                            <td id="at_min">{% if data.records and data.records.min_apparent_temperature %}{{ data.records.min_apparent_temperature|round(1) }}°C at {{ data.records.min_apparent_temperature_ts }}{% else %}--{% endif %}</td>
                            <td id="at_max">{% if data.records and data.records.max_apparent_temperature%}{{ data.records.max_apparent_temperature|round(1) }}°C at {{ data.records.max_apparent_temperature_ts }}{% else %}--{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Wind Chill</td>
                            <td id="wc_min">{% if data.records and data.records.min_wind_chill %}{{ data.records.min_wind_chill|round(1) }}°C at {{ data.records.min_wind_chill_ts }}{% else %}--{% endif %}</td>
                            <td id="wc_max">{% if data.records and data.records.max_wind_chill %}{{ data.records.max_wind_chill|round(1) }}°C at {{ data.records.max_wind_chill_ts }}{% else %}--{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Dew Point</td>
                            <td id="dp_min">{% if data.records and data.records.min_dew_point %}{{ data.records.min_dew_point|round(1) }}°C at {{ data.records.min_dew_point_ts }}{% else %}--{% endif %}</td>
                            <td id="dp_max">{% if data.records and data.records.max_dew_point %}{{ data.records.max_dew_point|round(1) }}°C at {{ data.records.max_dew_point_ts }}{% else %}--{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Humidity</td>
                            <td id="rh_min">{% if data.records and data.records.min_humidity %}{{ data.records.min_humidity }}% at {{ data.records.min_humidity_ts }}{% else %}--{% endif %}</td>
                            <td id="rh_max">{% if data.records and data.records.max_humidity %}{{ data.records.max_humidity }}% at {{ data.records.max_humidity_ts }}{% else %}--{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Barometer</td>
                            <td id="ap_min">{% if data.records and data.records.min_pressure %}{{ data.records.min_pressure|round(1) }} hPa at {{ data.records.min_pressure_ts }}{% else %}--{% endif %}</td>
                            <td id="ap_max">{% if data.records and data.records.max_pressure %}{{ data.records.max_pressure|round(1) }} hPa at {{ data.records.max_pressure_ts }}{% else %}--{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Gust Wind Speed</td>
                            <td class="no-value"></td>
                            <td id="gws">{% if data.records and data.records.max_gust_wind_speed %}{% if data.wind_speed_kmh %}{{ data.records.max_gust_wind_speed*3.6|round(1) }} km/h{% else %}{{ data.records.max_gust_wind_speed|round(1) }} m/s{% endif %} at {{ data.records.max_gust_wind_speed_ts }}{% else %}--{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Average Wind Speed</td>
                            <td class="no-value"></td>
                            <td id="aws">{% if data.records and data.records.max_average_wind_speed %}{% if data.wind_speed_kmh %}{{ data.records.max_average_wind_speed*3.6|round(1) }} km/h{% else %}{{ data.records.max_average_wind_speed|round(1) }} m/s{% endif %} at {{ data.records.max_average_wind_speed_ts }}{% else %}--{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="rec_refresh_failed" style="display: none;">
                    <div class="alert alert-warning">
                        <strong>Warning!</strong>
                        Loading records failed. The server may be down.
                    </div>
                </div>