{# This template is for a daily overview. #}

{% extends "base.html" %}
{% block title %}Weather for {{ data.date_stamp }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <header>
        <div class="row">
            <div class="span6">
                <h1>Weather for {{ data.date_stamp }}</h1>
            </div>
            <div class="span6">
                <div class="btn-group" style="float:right;">
                    {% if data.prev_url -%}
                        <a href="{{ data.prev_url }}" class="btn"><i class="icon-backward"></i> {{ data.prev_date }}</a>
                    {%- else -%}
                        <a href="#" class="btn disabled" onclick="return false;"><i class="icon-backward"></i> {{ data.prev_date }}</a>
                    {%- endif %}
                    <a href="../" class="btn">{{ data.this_month }}</a>
                    {% if data.next_url -%}
                        <a href="{{ data.next_url }}" class="btn">{{ data.next_date }} <i class="icon-forward"></i></a>
                    {%- else -%}
                        <a href="#" class="btn disabled" onclick="return false;">{{ data.next_date }} <i class="icon-forward"></i></a>
                    {%- endif %}
                </div>
            </div>
        </div>
        <hr>
    </header>

    <section>
    {%- if data.current_data %}
        <div class="row">
            <div class="span6">
                <h2 id="current">Conditions as of <span id="current_time">{{ data.current_data_ts }}</span></h2>
                <div id="current_conditions">
                    <table  class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Sensor</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Relative Humidity</td>
                            <td id="live_relative_humidity">{{ data.current_data.relative_humidity }}%</td>
                        </tr>
                        <tr>
                            <td>Temperature</td>
                            <td id="live_temperature">{{ data.current_data.temperature|round(1) }}°C</td>
                        </tr>
                        <tr>
                            <td>Apparent Temperature</td>
                            <td id="live_apparent_temperature">{{ data.current_data.apparent_temperature|round(1) }}°C</td>
                        </tr>
                        <tr>
                            <td>Wind Chill</td>
                            <td id="live_wind_chill">{{ data.current_data.wind_chill|round(1) }}°C</td>
                        </tr>
                        <tr>
                            <td>Dew Point</td>
                            <td id="live_dew_point">{{ data.current_data.dew_point|round(1) }}°C</td>
                        </tr>
                        <tr>
                            <td>Absolute Pressure</td>
                            <td id="live_absolute_pressure">{{ data.current_data.absolute_pressure|round(1) }} hPa</td>
                        </tr>
                        <tr>
                            <td>Gust Wind Speed</td>
                            <td id="live_gust_wind_speed">{{ data.current_data.gust_wind_speed|round(1) }} m/s</td>
                        </tr>
                        <tr>
                            <td>Average Wind Speed</td>
                            <td id="live_avg_wind_speed">{{ data.current_data.average_wind_speed|round(1) }} m/s</td>
                        </tr>
                        <tr>
                            <td>Wind Direction</td>
                            <td id="live_wind_direction">{{ data.current_data.wind_direction }}</td>
                        </tr> {#
                        <tr>
                            <td>Rainfall</td>
                            <td>{{ data.current_data.rainfall|round(1) }} mm</td>
                        </tr> #}
                        </tbody>
                    </table>
                </div>
                <div id="cc_stale" style="display: none;">
                    <div class="alert alert-error">
                        <strong>Error:</strong>
                        No live data available. Live data
                        has not been refreshed in <span id="cc_data_age"></span> seconds.
                        The update service has likely stopped.
                    </div>
                </div>
                <div id="cc_refresh_failed" style="display: none;">
                    <div class="alert alert-warning">
                        <strong>Warning!</strong>
                        Live data refresh failed. The server may be down.
                    </div>
                </div>
            </div>
            <div class="span6">
    {%- else -%}
        <div class="row"><div class="span6">
    {%- endif %}
                <h2 id="records">Records{% if data.current_data %}<button id="btn_records_refresh" class="btn refreshbutton" onclick="refresh_records()" data-loading-text="loading..."><i class="icon-refresh"></i> Refresh</button>{% endif %}</h2>
                {% include 'day-records-table.html' %}
    {%- if data.current_data %}
            </div>
        </div>
    {%- else -%}
        </div><div class="span6"></div></div>
    {%- endif %}
    </section>

    <section id="1day">
        <h2>1-day Charts{% if data.current_data %}<button id="btn_today_refresh" class="btn refreshbutton" onclick="refresh_day_charts()" data-loading-text="loading..."><i class="icon-refresh"></i> Refresh</button>{% endif %}</h2>
        {% include 'day-charts.html' %}
    </section>

    <section id="7day">
        <h2>7-day Charts{% if data.current_data %}<button id="btn_7day_refresh" class="btn refreshbutton" onclick="refresh_7day_charts()" data-loading-text="loading..."><i class="icon-refresh"></i> Refresh</button>{% endif %}</h2>
        {% include 'day-charts-7day.html' %}
    </section>

    <a href="indoor.html">I</a>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $("#btn_today_refresh").button('loading');
        $("#btn_7day_refresh").button('loading');

        // URLs required by day_charts.js and day_live.js
        var live_url = '../../../../../data/{{ station }}/live.json';
        var samples_url = '{{ data_urls['samples']}}';
        var rainfall_url = '{{ data_urls['rainfall'] }}';
        var samples_7day_url = '{{ data_urls['7day_samples'] }}';
        var rainfall_7day_url = '{{ data_urls['7day_rainfall'] }}';
        var records_url = '{{ data_urls['records'] }}';
        var rainfall_totals_url = '{{ data_urls['rainfall_totals'] }}';
        var live_auto_refresh;
        {% if data.current_data -%}
        live_auto_refresh = true;
        {%- else -%}
        live_auto_refresh = false;
        {%- endif %}
        var is_day_page = true;
    </script>

    <script type="text/javascript" src="../../../../../js/day_live.js"></script>
    <script type="text/javascript" src="../../../../../js/day_charts.js"></script>
    {% if ui and ui == 'm' -%}
        <script type="text/javascript" src="../../../../../js/dygraph-combined.js"></script>
        <script type="text/javascript" src="../../../../../js/dygraph-util.js"></script>
        <script type="text/javascript" src="../../../../../js/day_charts_dygraph.js"></script>
    {% else -%}
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript" src="../../../../../js/day_charts_gviz.js"></script>
    {%- endif -%}
{% endblock %}