{# This template is for a daily overview. #}

{% extends "base.html" %}
{% block title %}Indoor weather for {{ data.date_stamp }}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <h1>Indoor weather for {{ data.date_stamp }}</h1>
    <hr> {#  This is only shown when we are looking at todays weather. #}
    <p>These are recordings for temperature and humidity at the indoor
    base station.</p>
    {% if data.current_data %}
    <section>
        <h2>Conditions as of {{ data.current_data_ts }}</h2>
        <div class="row">
            <div class="span6">
                <p>Data is for the five minute period ending at {{ data.current_data_ts }}</p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Sensor</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Indoor Relative Humidity</td>
                        <td>{{ data.current_data.indoor_relative_humidity }}%</td>
                    </tr>
                    <tr>
                        <td>Indoor Temperature</td>
                        <td>{{ data.current_data.indoor_temperature|round(1) }}°C</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="span6"></div>
        </div>
    </section>
    {% endif %}

    <section id="daily-charts">
        <h2>1-day Charts</h2>
        <div id="day_charts_cont">
            <div class="row">
                <div class="span6">
                    <div id="chart_temperature_div" class="chart">
                        <img src="/images/loading.gif" alt="loading"/>
                    </div>
                    <div id="chart_temperature_key" class="chart_key"></div>
                </div>
                <div class="span6">
                    <div id="chart_humidity_div" class="chart">
                        <img src="/images/loading.gif" alt="loading"/>
                    </div>
                    <div id="chart_humidity_key" class="chart_key"></div>
                </div>
            </div>
        </div>
        <div id="lc_obsolete_browser" style="display: none;">
            <div class="alert alert-warning" id="lc_msg">
                Charts disabled due to obsolete browser.
            </div>
        </div>
    </section>

    <section>
        <h2>7-day Charts</h2>
        <div id="7day-charts">
            <div class="row">
                <div class="span12">
                    <div id="chart_7_temperature_div" class="chart">
                        <img src="/images/loading.gif" alt="loading"/>
                    </div>
                    <div id="chart_7_temperature_key" class="chart_key"></div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <div id="chart_7_humidity_div" class="chart">
                        <img src="/images/loading.gif" alt="loading"/>
                    </div>
                    <div id="chart_7_humidity_key" class="chart_key"></div>
                </div>
            </div>
        </div>
        <div id="lc7_obsolete_browser" style="display: none;">
            <div class="alert alert-warning" id="lc7_msg">
                Charts disabled due to obsolete browser.
            </div>
        </div>
    </section>

    <hr>
    <div class="footer-navlinks">
    <a href="index.html">Back to outdoor weather</a>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
    var samples_url = "{{ dataurls['samples'] }}";
    var samples_7day_url = "{{ dataurls['samples_7day_30mavg'] }}";
    </script>
    {% if ui and ui in ('s', 'm') -%}
    <script type="text/javascript" src="../../../../../js/dygraph-combined.js"></script>
    <script type="text/javascript" src="../../../../../js/dygraph-charts.js"></script>
    <script type="text/javascript" src="../../../../../js/day_charts_indoor_dygraph.js"></script>
    {% else -%}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../../../../../js/day_charts_indoor_gviz.js"></script>
    {% endif -%}
{% endblock %}
