{# This template is for a daily overview. #}

{% extends "base.html" %}
{% block title %}Weather for {{ data.this_month }}{% endblock %}
{% block head %}{% endblock %}
{% block content %}

    <header>
        <div class="row">
            <div class="span6">
                <h1>Weather for {{ data.this_month }}</h1>
            </div>
            <div class="span6">
                <div class="btn-group" style="float:right;">
                    {% if data.prev_url -%}
                        <a href="{{ data.prev_url }}" class="btn"><i class="icon-backward"></i> {{ data.prev_month }}</a>
                    {%- else -%}
                        <a href="#" class="btn disabled" onclick="return false;"><i class="icon-backward"></i> {{ data.prev_month }}</a>
                    {%- endif %}
                    <a href="../" class="btn">{{ data.this_year }}</a>
                    {% if data.next_url -%}
                        <a href="{{ data.next_url }}" class="btn">{{ data.next_month }} <i class="icon-forward"></i></a>
                    {%- else -%}
                        <a href="#" class="btn disabled" onclick="return false;">{{ data.next_month }} <i class="icon-forward"></i></a>
                    {%- endif %}
                </div>
            </div>
        </div>
        <hr>
    </header>
    <div class="top-navlinks">
        {% if data.current_data %}<a href="#current">Current Conditions</a> |{% endif %}
        <a href="#days">Days for this Month</a> |
        <a href="#records">Records</a> |
        <a href="#charts">Charts</a> |
        <a href="#daily_record_charts">Daily Record Charts</a>
    </div>

    <section id="days">
        <h2>Days for {{ data.this_month }} {{ data.year_stamp }}</h2>
        <p>
            {% set i = 0 -%}
            {%- for day in data.days -%}
                {%- set i = i + 1 -%}
                <a href="{{ day }}/">{{ day }}</a> {% if i < data.days|length %}|{% endif %}
            {% endfor %}
        </p>
    </section>

    <section id="records">
        <h2>Records</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sensor</th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Temperature</td>
                    <td>{{ data.records.min_temperature|round(1) }}°C at {{ data.records.min_temperature_ts }}</td>
                    <td>{{ data.records.max_temperature|round(1) }}°C at {{ data.records.max_temperature_ts }}</td>
                </tr>
                <tr>
                    <td>Wind Chill</td>
                    <td>{{ data.records.min_wind_chill|round(1) }}°C at {{ data.records.min_wind_chill_ts }}</td>
                    <td>{{ data.records.max_wind_chill|round(1) }}°C at {{ data.records.max_wind_chill_ts }}</td>
                </tr>
                <tr>
                    <td>Apparent Temperature</td>
                    <td>{{ data.records.min_apparent_temperature|round(1) }}°C at {{ data.records.min_apparent_temperature_ts }}</td>
                    <td>{{ data.records.max_apparent_temperature|round(1) }}°C at {{ data.records.max_apparent_temperature_ts }}</td>
                </tr>
                <tr>
                    <td>Dew Point</td>
                    <td>{{ data.records.min_dew_point|round(1) }}°C at {{ data.records.min_dew_point_ts }}</td>
                    <td>{{ data.records.max_dew_point|round(1) }}°C at {{ data.records.max_dew_point_ts }}</td>
                </tr>
                <tr>
                    <td>Absolute Pressure</td>
                    <td>{{ data.records.min_absolute_pressure|round(1) }} hPa at {{ data.records.min_absolute_pressure_ts }}</td>
                    <td>{{ data.records.max_absolute_pressure|round(1) }} hPa at {{ data.records.max_absolute_pressure_ts }}</td>
                </tr>
                <tr>
                    <td>Relative Humidity</td>
                    <td>{{ data.records.min_humidity }}% at {{ data.records.min_humidity_ts }}</td>
                    <td>{{ data.records.max_humidity }}% at {{ data.records.max_humidity_ts }}</td>
                </tr>
                <tr>
                    <td>Gust Wind Speed</td>
                    <td class="no-value"></td>
                    <td>{{ data.records.max_gust_wind_speed|round(1) }} m/s at {{ data.records.max_gust_wind_speed_ts }}</td>
                </tr>
                <tr>
                    <td>Average Wind Speed</td>
                    <td class="no-value"></td>
                    <td>{{ data.records.max_average_wind_speed|round(1) }} m/s at {{ data.records.max_average_wind_speed_ts }}</td>
                </tr>
            </tbody>
        </table>
        <p>Total Rainfall: {{ data.records.total_rainfall|round(1) }}mm</p>
    </section>

    <section id="charts">
    <h2>Monthly Charts</h2>
        <div id="chart_temperature_tdp_div" class="chart">
            <img src="/images/loading.gif" alt="loading"/>
        </div>
        <div id="chart_temperature_awc_div" class="chart">
            <img src="/images/loading.gif" alt="loading"/>
        </div>
        <div id="chart_humidity_div" class="chart">
            <img src="/images/loading.gif" alt="loading"/>
        </div>
        <div id="chart_pressure_div" class="chart">
            <img src="/images/loading.gif" alt="loading"/>
        </div>
    </section>

    <section id="daily_record_charts">
        <h2>Daily Records</h2>

        <div class="row">
            <div class="span6">
                <div id="chart_rec_temperature" class="chart">
                    <img src="/images/loading.gif" alt="loading"/>
                </div>
            </div>
            <div class="span6">
                <div id="chart_rec_pressure" class="chart">
                    <img src="/images/loading.gif" alt="loading"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div id="chart_rec_humidity" class="chart">
                    <img src="/images/loading.gif" alt="loading"/>
                </div>
            </div>
            <div class="span6">
                <div id="chart_rainfall" class="chart">
                    <img src="/images/loading.gif" alt="loading"/>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="../../../../js/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
    // URLs required by month_charts.js
    var samples_url = '{{ dataurls.samples_30m_avg }}';
    var daily_records_url = '{{ dataurls.daily_records }}';
    </script>
    {% if ui and ui == 'm' -%}
    <script type="text/javascript" src="../../../../js/dygraph-combined.js"></script>
    <script type="text/javascript" src="../../../../js/month_charts_dygraph.js"></script>
    {% else -%}
    <script type="text/javascript" src="../../../../js/month_charts_gviz.js"></script>
    {%- endif -%}
    <script type="text/javascript" src="../../../../js/month_charts.js"></script>
{% endblock %}
