{# This template is for a daily overview. #}

{% extends "base.html" %}
{% block title %}Wireless Reception Quality{% endblock %}
{% block head %}{% endblock %}
{% block content %}
        <h1>Wireless Reception Quality</h1>
        <hr>
{% if is_wireless %}
        <section id="daily-charts">
            <h2>Last 24 hours</h2>
            <div id="day_charts_cont">
                <div class="row">
                    <div class="span12">
                        <div id="chart_reception_div" class="chart">
                            <img src="/images/loading.gif" alt="loading"/>
                        </div>
                        <div id="chart_reception_key" class="chart_key"></div>
                    </div>
                </div>
            </div>
            <div id="lc_obsolete_browser" style="display: none;">
                <div class="alert alert-warning" id="lc_msg">
                    Charts disabled due to obsolete browser.
                </div>
            </div>
        </section>

        <section id="7-day-charts">
            <h2>Last 7 days</h2>
            <div id="7day-charts">
                <div class="row">
                    <div class="span12">
                        <div id="chart_7_reception_div" class="chart">
                            <img src="/images/loading.gif" alt="loading"/>
                        </div>
                        <div id="chart_7_reception_key" class="chart_key"></div>
                    </div>
                </div>
            </div>
            <div id="lc7_obsolete_browser" style="display: none;">
                <div class="alert alert-warning" id="lc7_msg">
                    Charts disabled due to obsolete browser.
                </div>
            </div>
        </section>
{% else %}
        <section>
        <p>
            Wireless reception quality is not available for this station: only
            the Davis Vantage Vue and Davis Vantage Pro 2 (wireless) weather
            stations are supported by this page.
        </p>
        <p><a href="./">Return to Station Overview</a></p>
        </section>
{% endif %}
{% endblock %}
{% block footer_left %}<a href="index.html">Back to station overview</a>{% endblock %}
{% block scripts %}
    {% if ui and ui in ('s', 'm') -%}
    <script type="text/javascript">
    var reception_url = "../../data/{{ station }}/24hr_reception.json";
    var reception_7day_url = "../../data/{{ station }}/168hr_reception.json";
    </script>
    <script type="text/javascript" src="../../../../../js/dygraph-combined.js"></script>
    <script type="text/javascript" src="../../../../../js/dygraph-charts.js"></script>
    <script type="text/javascript" src="../../../../../js/reception_charts_dygraph.js"></script>
    {% else -%}
    <script type="text/javascript">
    var reception_url = "../../data/{{ station }}/datatable/24hr_reception.json";
    var reception_7day_url = "../../data/{{ station }}/datatable/168hr_reception.json";
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../../../../../js/reception_charts_gviz.js"></script>
    {% endif -%}
{% endblock %}
