{# This template is for all images for all time. #}

{% extends "base.html" %}
{% block title %}All images{% endblock %}
{% block head %}{% endblock %}
{% block content %}
        <h1>All Images</h1>
        <hr>


	{# TODO: Clean this up #}

	{% if not images %}
            <p>There are no images for this station</p>
        {% else %}
	    {% for source in images %}
	        <section class="images">
	            <div class="row">
		        <div class="span6">
			    <h2>{{ source['name'] }}</h2>
			</div>
	            </div>
		    {% if source['description'] %}
		    <div class="row">
		        <div class="span12">
			    <p>{{ source['description'] }}</p>
			</div>
		    </div>
		    {% endif %}
		    <div class="row">
		        <div class="span12">
			     
		
			        {% set last_dt = None %}
			        {% for img in source['images'] %}
				{% if not last_dt or last_dt != img.date %}
				{% if last_dt %}</ul>{% endif %}
				<h3>{{img.date}}</h3>
				{% set last_dt = img.date %}
				<ul class="thumbnails">
				{%endif%}
				<li>
				    <a href="{{ img.url }}" class="thumbnail">
				        <img src="{{ img.thumbnail_url }}" title="{{ img.time }}" />
                        <div class="caption">
                            {{img.time_of_day}}
                        </div>
				    </a>
				</li>
				{% endfor %}
			    </ul>
			</div>
		    </div>
		</section>
	    {% endfor %}
	{% endif %}
	
{% endblock %}
{% block footer_left %}<a href="index.html">Back to station overview</a>{% endblock %}
{% block scripts %}
{% endblock %}
