{# This template is for all images for all time. #}

{% extends "base.html" %}
{% block title %}All images{% endblock %}
{% block head %}{% endblock %}
{% block content %}
        <h1>All Images</h1>
        <hr>


	{# TODO: Clean this up #}

	{% if not images %}
            <p>There are no images for this station</p>
        {% else %}
	    {% for source in images %}
	        <section class="images">
	            <div class="row">
		        <div class="span6">
			    <h2>{{ source['name'] }}</h2>
			</div>
	            </div>
		    {% if source['description'] %}
		    <div class="row">
		        <div class="span12">
			    <p>{{ source['description'] }}</p>
			</div>
		    </div>
		    {% endif %}
		    <div class="row">
		        <div class="span12">
                {% set last_dt = None %}
                {% for img in source['images'] %}
				{% if not last_dt or last_dt != img.date %}
				{% if last_dt %}</ul>{% endif %}
				<h3>{{img.date}}</h3>
				{% set last_dt = img.date %}
				<ul class="thumbnails">
				{%endif%}
				<li>
                    {% if img.is_video %}
                    <div class="thumbnail">
                        <video src="{{ img.url }}" title="{{ img.title }}"
                               width="{{ thumbnail_width }}" controls>
                            Your browser doesn't appear to support embedded videos. Try
                            <a href="{{ img.url }}">downloading</a> the video and watching it in a
                            player like <a href="http://www.videolan.org/vlc/index.html">VLC</a>.
                        </video>
                        <div class="caption" style="width: {{ thumbnail_width - 20 }}px;">
                            {{img.description}}
                        </div>
                    </div>
                    {% elif img.is_audio %}
                    <div class="thumbnail">
                        <audio src="{{ img.url }}" title="{{ img.title }}"
                               controls preload="none">
                            Your browser doesn't appear to support embedded audio. Try
                            <a href="{{ img.url }}">downloading</a> the audio and playing it in a
                            player like <a href="http://www.videolan.org/vlc/index.html">VLC</a>.
                        </audio>
                        <div class="caption" style="width: {{ thumbnail_width - 20 }}px;">
                            {{img.description}}
                        </div>
                    </div>
                    {% else %}
                    <a href="{{ img.url }}" class="thumbnail">
                        <img src="{{ img.thumbnail_url }}" title="{% if img.title %}{{ img.title }}{% else %}{{ img.time }}{% endif %}"/>
                        <div class="caption" style="width: {{ thumbnail_width - 20 }}px;">
                            {% if img.description %}
                                {{ img.description }}
                            {% elif img.title %}
                                {{ img.title }}
                            {% else %}
                                {{img.time_of_day}}
                            {% endif %}
                        </div>
                    </a>
                    {% endif %}
				</li>
				{% endfor %}
			    </ul>
			</div>
		    </div>
		</section>
	    {% endfor %}
	{% endif %}
	
{% endblock %}
{% block footer_left %}<a href="index.html">Back to station overview</a>{% endblock %}
{% block scripts %}
    <script>
        // Set all image thumbnail containers to the same height so they layout
        // properly
        $(window).on('load', function() {
            $('.thumbnails').each(function() {
                var maxHeight = 0;

                $("li", this).each(function() {
                    var h = $(this).height();
                    if (h > maxHeight) {
                        maxHeight = h;
                    }
                });

                $("li", this).height(maxHeight);
            })
        });
    </script>
{% endblock %}
