{% extends "base.html" %}

{% block title %}Station Overview{% endblock %}
{% block head %}{% endblock %}
{% block content %}
{%- if page_data["no_content"] %}
        <h1>{{ page_data["station_name"] }}</h1>
        <p>
            There is no recent data available from this weather station at this
            time. Historical data remains available for the following
            years:
            {% set i = 0 -%}
            {%- for year in data.years -%}
                {%- set i = i + 1 -%}
                <a href="{{ year }}/">{{ year }}</a>{% if i < data.years|length %}, {% endif %}
            {%- endfor %}
        </p>
{%- else -%}
        {% if hw_type == 'DAVIS' %}
        <div id="tx_batt_alert" class="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div class="fm_battery_low" style="padding-right: 5px; float: left;"></div>
            <strong>Warning!</strong> Transmitter battery is low
        </div>
        <div id="con_batt_alert" class="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div class="fm_battery_low" style="padding-right: 5px; float: left;"></div>
            <strong>Warning!</strong> Console battery is low (<span id="con_voltage"></span> V)
        </div>

        {%- endif %}
        {% include 'current_day_live.html' %}

        <section id="today">
            <div class="row">
                <div class="span6">
                    <h2 id="daily-charts">Last 24 Hours</h2>
                    <p>Total Rainfall: <span id="tot_rainfall">{% if data.records %}{{ data.records.total_rainfall|round(1) }}</span>mm{% else %}--{% endif %}</p>
                </div>
                <div class="span6">
                    <div class="current_day_refresh">
                        <button id="btn_today_refresh" class="btn refreshbutton" onclick="refresh_day_charts()" data-loading-text="loading..." style="float: right;"><i class="icon-refresh"></i> Refresh</button>
                    </div>
                </div>
            </div>
            {% include 'day-charts.html' %}
        </section>

        <section id="last_7_days">
            <div class="row">
                <div class="span6">
            <h2>Last 7 Days</h2>
            <p>Data is a 30-minute average over the past seven days.</p>
                </div>
                <div class="span6">
                    <div class="current_day_refresh">
                        <button id="btn_7day_refresh" class="btn refreshbutton" onclick="refresh_7day_charts()" data-loading-text="loading..."><i class="icon-refresh"></i> Refresh</button>
                    </div>
                </div>
            </div>
            {% include 'day-charts-7day.html' %}
        </section>

{% include 'day_images.html' %}

        <section id="history">
            <h2>Weather History</h2>
            <p>Full weather data is available at the day, month and year levels.
                You can start browsing by year:
                {% set i = 0 -%}
                {%- for year in data.years -%}
                    {%- set i = i + 1 -%}
                    <a href="{{ year }}/">{{ year }}</a>{% if i < data.years|length %}, {% endif %}
                {%- endfor %}
            </p>
        </section>
{%- endif -%}
{% endblock %}
{% block footer_left %}
{%- if reception_available -%}
                    <a href="reception.html">Wireless reception</a>
{%- endif -%}
{% endblock %}
{% block scripts %}
{%- if not page_data["no_content"] %}
    <script type="text/javascript">
        $("#btn_today_refresh").button('loading');
        $("#btn_7day_refresh").button('loading');

        $('#live_status_cont').tooltip();

        // URLs required by day_charts.js and day_live.js
        // The daily charts actually show data for the last 24 hours here.
        // For daily charts use current_day_samples, current_day_rainfall and
        // current_day_rainfall_totals instead
        var live_url = '../../data/{{ station }}/live.json';
        var samples_url = '../../data/{{ station }}/{{ subdir }}24hr_samples.json';
        var rainfall_url = '../../data/{{ station }}/{{ subdir }}24hr_hourly_rainfall.json';
        var samples_7day_url = '../../data/{{ station }}/{{ subdir }}168hr_30m_avg_samples.json';
        var rainfall_7day_url = '../../data/{{ station }}/{{ subdir }}168hr_rainfall.json';
        var records_url = '../../data/{{ station }}/current_day_records.json';
        var rainfall_totals_url = '../../data/{{ station }}/24hr_rainfall_totals.json';
        var live_auto_refresh = true;
        var station_code = '{{ station }}';
        var hw_type = '{{ hw_type }}';
        var ws_uri = null;
        var wss_uri = null;
        {% if ws_uri -%}ws_uri = '{{ ws_uri }}'; {% endif %}
        {% if wss_uri -%}wss_uri = '{{ wss_uri }}'; {% endif %}
        var is_day_page = false;
        {%- if hw_type == 'DAVIS' %}
        var forecast_rules_uri = '../../data/davis_forecast_rules.json';
        var solar_and_uv_available = {% if solar_uv_available %}true{% else %}false{% endif %};
        {% endif %}
    </script>

    <script type="text/javascript" src="../../js/day_live.js"></script>
    <script type="text/javascript" src="../../js/day_charts.js"></script>
    {% if ui and ui in ('s', 'm') -%}
    <script type="text/javascript" src="../../js/dygraph-combined.js"></script>
    <script type="text/javascript" src="../../js/dygraph-charts.js"></script>
    <script type="text/javascript" src="../../js/day_charts_dygraph.js"></script>
    {% else -%}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="../../js/day_charts_gviz.js"></script>
    {%- endif -%}
{%- endif -%}
{% endblock %}