{% extends "base.html" %}

{% block title %}Station Overview{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <section id="live">
        <div class="row">
            <div class="span6">
                <h2>Current Conditions</h2>
                {# This table is populated from day_live.js -#}
                <div id="current_conditions">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Sensor</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Relative Humidity</td>
                        <td id="live_relative_humidity"></td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td id="live_temperature"></td>
                    </tr>
                    <tr>
                        <td>Apparent Temperature</td>
                        <td id="live_apparent_temperature"></td>
                    </tr>
                    <tr>
                        <td>Wind Chill</td>
                        <td id="live_wind_chill"></td>
                    </tr>
                    <tr>
                        <td>Dew Point</td>
                        <td id="live_dew_point"></td>
                    </tr>
                    <tr>
                        <td>Absolute Pressure</td>
                        <td id="live_absolute_pressure"></td>
                    </tr>
                    <tr>
                        <td>Average Wind Speed</td>
                        <td id="live_avg_wind_speed"></td>
                    </tr>
                    <tr>
                        <td>Gust Wind Speed</td>
                        <td id="live_gust_wind_speed"></td>
                    </tr>
                    <tr>
                        <td>Wind Direction</td>
                        <td id="live_wind_direction"></td>
                    </tr>
                    </tbody>
                </table>
                <p>Time: <span id="current_time"></span></p>
                </div>
                <div id="cc_stale" style="display: none;">
                    <div class="alert alert-error">
                        <strong>Error:</strong>
                        No live data available. Live data
                        has not been refreshed in <span id="cc_data_age"></span> seconds.
                        The update service has likely stopped.
                    </div>
                </div>
                <div id="cc_refresh_failed" style="display: none;">
                    <div class="alert alert-warning">
                        <strong>Warning!</strong>
                        Live data refresh failed. The server may be down.
                    </div>
                </div>
            </div>

            <div class="span6">
                <h2>Todays Records<button id="btn_records_refresh" class="btn refreshbutton" onclick="refresh_records()" data-loading-text="loading..."><i class="icon-refresh"></i> Refresh</button></h2>
                {% include 'day-records-table.html' %}
            </div>
        </div>
    </section>

    <section id="today">
        <h2 id="daily-charts">Today<button id="btn_today_refresh" class="btn refreshbutton" onclick="refresh_day_charts()" data-loading-text="loading..."><i class="icon-refresh"></i> Refresh</button></h2>
        {% include 'day-charts.html' %}
    </section>

    <section id="last_7_days">
        <h2>Last 7 days<button id="btn_7day_refresh" class="btn refreshbutton" onclick="refresh_7day_charts()" data-loading-text="loading..."><i class="icon-refresh"></i> Refresh</button></h2>
        {% include 'day-charts-7day.html' %}
    </section>

    <section id="history">
        <h2>Weather History</h2>
        <p>Weather data is available for the following years:
            {% set i = 0 -%}
            {%- for year in data.years -%}
                {%- set i = i + 1 -%}
                <a href="{{ year }}/">{{ year }}</a> {% if i < data.years|length %}|{% endif %}
            {%- endfor %}
        </p>
        <p>History page for: <a href="now">Today</a>,
                             {% if data.yesterday -%}
                                 <a href="{{ data.yesterday.year }}/{{ data.yesterday_month_s }}/{{ data.yesterday.day }}/">Yesterday</a>,
                             {%- endif %}
                             <a href="{{ data.year }}/{{ data.month_s }}/">This Month</a>,
                             <a href="{{ data.year }}/">This Year</a>.
        </p>
    </section>
    <hr>
    <footer>
        <p>Problems? <a href="../../b/{{ station }}/now">Basic HTML</a></p>
    </footer>
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        // URLs required by day_charts.js and day_live.js
        var live_url = '../../data/{{ station }}/live.json';
        var samples_url = '../../data/{{ station }}/datatable/current_day_samples.json';
        var rainfall_url = '../../data/{{ station }}/datatable/current_day_rainfall.json';
        var samples_7day_url = '../../data/{{ station }}/datatable/current_day_7day_30m_avg_samples.json';
        var rainfall_7day_url = '../../data/{{ station }}/datatable/current_day_7day_rainfall.json';
        var records_url = '../../data/{{ station }}/current_day_records.json';
        var rainfall_totals_url = '../../data/{{ station }}/current_day_rainfall_totals.json';
        var live_auto_refresh = true;
        var is_day_page = false;
    </script>
    <script type="text/javascript" src="../../js/day_live.js"></script>
    {% if ui and ui == 'm' %}
    <script type="text/javascript" src="../../js/dygraph-combined.js"></script>
    <script type="text/javascript" src="../../js/day_charts_dygraph.js"></script>
    {% else %}
    <script type="text/javascript" src="../../js/day_charts_gviz.js"></script>
    {% endif %}
    <script type="text/javascript" src="../../js/day_charts.js"></script>
{% endblock %}