[Desktop Entry]
Version=2.0.0
Comment=Desktop client for zxweather
Exec=zxweather
GenericName=Weather Station
Icon=zxweather
Name=zxweather
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
Category=Accessories
