
---------------------------------------------------------------------
		 Total Hours of Leaf Wetness {{at_date}}

 Leaf Sensor Number {{leaf_sensor}}
 Temperature Sensor: {{temp_sensor}}

 Total Hours: {{total_hours}}
 Start Date: {{start_date}}	End Date: {{end_date}}
 Low Temp: {{lo_temp}} °C	High Temp: {{hi_temp}} °C
 Wetness Threshold: {{threshold}}

 Total for last {{total_days}} days...
