# Database configuration
# host     - the database server hostname or IP address
# port     - The port the database server is listening on.
# database - The name of the database containing weather data
# user     - The username to connect to the database as
# password - The database password
# Only PostgreSQL is supported.
[database]
host: localhost
port: 5432
database: weather
user: weatheruser
password: password

# Data configuration
# live_data_available - Boolean: If live data is available through the 
#                       database. This requires wh1080d to be running 
#                       somewhere.
# sample_interval     - Seconds: How often new samples appear in the database.
# plot_interval       - Seconds: How often PNG charts are re-plotted. 
[data]
live_data_available: True
sample_interval: 300
plot_interval: 1800

# Site configuration
# site_root       - Site root including hostname, etc. Used for redirects.
# static_data_dir - Location on disk where static data (images, css, PNG 
#                   charts, etc) is stored. Everything in here is made
#                   publicly available.
# default_ui      - The default user interface to use if none is specified.
# station_name    - The name of your weather station. This appears in all
#                   URLs so choose something short and don't change it. See
#                   the installation documentation for more information.
[site]
default_ui: s
# UNCOMMENT THESE AND SET THEM! The defaults will NOT work.
#site_root: http://weather.example.com/
#static_data_dir: /var/weather/static/
#station_name: somewhere
